n8n/workflow-deploy.json
{
  "name": "VIMIMO",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ef312317-9d2c-4575-a061-b5564667d850",
      "name": "TelegramBot",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        800
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-start",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-styles",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "/styles",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "styles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-exemples",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "/exemples",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exemples"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-aide",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "/aide",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aide"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "has-media",
                    "leftValue": "={{ $json.message.photo || $json.message.video ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "style-scandinave",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "Scandinave",
                    "operator": { "type": "string", "operation": "contains" }
                  },
                  {
                    "id": "style-industriel",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "Industriel",
                    "operator": { "type": "string", "operation": "contains" }
                  },
                  {
                    "id": "style-moderne",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "Moderne",
                    "operator": { "type": "string", "operation": "contains" }
                  },
                  {
                    "id": "style-classique",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "Classique",
                    "operator": { "type": "string", "operation": "contains" }
                  },
                  {
                    "id": "style-boheme",
                    "leftValue": "={{ $json.message.text || '' }}",
                    "rightValue": "Boh",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "style_choice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4f5a4a91-10a0-4d7a-b3a7-6ac731226184",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        800
      ],
      "notes": "Routes: /start, /styles, /exemples, /aide, photo/video, style choice, fallback"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\ud83c\udfe0 *Bienvenue chez VIMIMO \u2014 Votre Studio de Virtual Staging IA*\n\nTransformez vos espaces vides en int\u00e9rieurs de magazine en moins de 3 minutes.\n\n*Pourquoi utiliser VIMIMO ?*\n\u2705 *Immersion totale* : Une vid\u00e9o cin\u00e9matographique plut\u00f4t qu'une simple photo.\n\u2705 *Projection client* : Aide les acheteurs \u00e0 visualiser leur futur chez-soi.\n\u2705 *Qualit\u00e9 Premium* : Rendu 4K avec effets de vitesse professionnels.\n\n\ud83d\ude80 *COMMENT D\u00c9MARRER ?*\n\n1\ufe0f\u20e3 Envoyez-moi une vid\u00e9o (mouvement lent) ou une photo d'une pi\u00e8ce vide.\n2\ufe0f\u20e3 Choisissez un style (Scandinave, Industriel, Moderne...).\n3\ufe0f\u20e3 Laissez l'IA travailler : 5 \u00e9tapes de transformation + montage Speed Ramp pro.\n\n\ud83d\udca1 *Conseils pour un rendu parfait :*\n\u2022 Avancez lentement vers le centre de la pi\u00e8ce.\n\u2022 \u00c9vitez les mouvements brusques.\n\u2022 Assurez-vous que la pi\u00e8ce est bien \u00e9clair\u00e9e.\n\n\ud83d\udc47 *Pr\u00eat ? Envoyez votre premi\u00e8re image ou vid\u00e9o maintenant !*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f1a71b48-795a-4d2b-a364-756b2b0ddf63",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.message.chat.id, text: '\ud83c\udfa8 *Catalogue des Styles VIMIMO*\\n\\n\ud83d\uddbc\ufe0f *Scandinave* \u2014 Bois clair, lignes \u00e9pur\u00e9es, tons neutres et chaleureux.\\n\ud83e\uddf1 *Industriel* \u2014 M\u00e9tal brut, briques, mobilier vintage.\\n\u2728 *Moderne* \u2014 Minimaliste, design \u00e9pur\u00e9, touches de couleur.\\n\ud83c\udfdb\ufe0f *Classique* \u2014 \u00c9l\u00e9gance intemporelle, moulures, dorures subtiles.\\n\ud83c\udf3f *Boh\u00e8me* \u2014 Textures naturelles, plantes, atmosph\u00e8re d\u00e9contract\u00e9e.\\n\\n\ud83d\udc47 Envoyez d\\'abord votre photo/vid\u00e9o, puis choisissez votre style !', parse_mode: 'Markdown', reply_markup: { keyboard: [[{text:'\ud83d\uddbc\ufe0f Scandinave'},{text:'\ud83e\uddf1 Industriel'}],[{text:'\u2728 Moderne'},{text:'\ud83c\udfdb\ufe0f Classique'}],[{text:'\ud83c\udf3f Boh\u00e8me'}]], resize_keyboard: true, one_time_keyboard: true } }) }}",
        "options": {}
      },
      "id": "7803cf3e-803b-4612-bb9c-66b1093765cb",
      "name": "Send Styles Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        200
      ],
      "notes": "HTTP Request car le noeud Telegram n8n ne supporte pas reply_markup nativement"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\ud83c\udfac *Nos Meilleures R\u00e9alisations*\n\nVoici quelques exemples de transformations r\u00e9alis\u00e9es par VIMIMO :\n\n\ud83d\udd17 _Les exemples vid\u00e9o seront ajout\u00e9s ici une fois vos premi\u00e8res r\u00e9alisations termin\u00e9es._\n\n\ud83d\udca1 Envoyez-moi votre premi\u00e8re photo pour cr\u00e9er votre propre avant/apr\u00e8s !",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1513d376-9d44-4189-b246-2da70bb2ddcb",
      "name": "Send Examples",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      },
      "notes": "Remplacer par sendMediaGroup avec vos 3 meilleures vid\u00e9os une fois disponibles"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\ud83d\udcf8 *Conseils pour un Rendu Parfait*\n\n*Pour une vid\u00e9o :*\n\u2022 Filmez \u00e0 hauteur d'homme (1m50-1m70).\n\u2022 Avancez *tr\u00e8s lentement* vers le centre de la pi\u00e8ce.\n\u2022 Dur\u00e9e id\u00e9ale : 5 \u00e0 10 secondes.\n\u2022 Gardez le t\u00e9l\u00e9phone stable (pas de mouvements brusques).\n\n*Pour une photo :*\n\u2022 Placez-vous dans un coin de la pi\u00e8ce.\n\u2022 Cadrez le plus large possible.\n\u2022 Assurez un bon \u00e9clairage (ouvrez les volets !).\n\n*\u00c9vitez :*\n\u274c Les pi\u00e8ces encombr\u00e9es (videz au maximum).\n\u274c Les contre-jours forts.\n\u274c Les rotations de cam\u00e9ra.\n\n\ud83d\udc47 Pr\u00eat ? Envoyez votre m\u00e9dia !",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a2cb5129-3f99-4dec-bb52-0c0a7d067e44",
      "name": "Send Tips",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sauvegarde le media re\u00e7u dans le staticData (persistant entre ex\u00e9cutions)\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\n\nconst fileId = msg.video\n  ? msg.video.file_id\n  : msg.photo.slice(-1)[0].file_id;\n\nconst mediaType = msg.video ? 'video' : 'photo';\n\nstaticData[`pending_${chatId}`] = {\n  fileId,\n  mediaType,\n  timestamp: Date.now()\n};\n\nreturn [{ json: { chatId, fileId, mediaType } }];"
      },
      "id": "c28ee9ae-eb1f-49b7-952b-7d2840d67821",
      "name": "Save Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        850
      ],
      "notes": "Sauvegarde file_id en attendant le choix de style"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.chatId), text: '\u2705 M\u00e9dia re\u00e7u !\\n\\n\ud83c\udfa8 Choisissez maintenant votre style de d\u00e9coration :', reply_markup: { keyboard: [[{text:'\ud83d\uddbc\ufe0f Scandinave'},{text:'\ud83e\uddf1 Industriel'}],[{text:'\u2728 Moderne'},{text:'\ud83c\udfdb\ufe0f Classique'}],[{text:'\ud83c\udf3f Boh\u00e8me'}]], resize_keyboard: true, one_time_keyboard: true } }) }}",
        "options": {}
      },
      "id": "91b2d57a-759a-438a-b4f5-1986bad79dfc",
      "name": "Ack + Style Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "// Charge le media sauvegard\u00e9 et extrait le style choisi\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\nconst text = msg.text || '';\n\n// Map bouton \u2192 style interne\nconst styleMap = {\n  'Scandinave': 'scandinavian',\n  'Industriel': 'industrial',\n  'Moderne': 'modern_minimalist',\n  'Classique': 'classic_french',\n  'Boh\u00e8me': 'bohemian'\n};\n\nlet chosenStyle = 'modern_minimalist';\nlet chosenLabel = 'Moderne';\nfor (const [label, value] of Object.entries(styleMap)) {\n  if (text.includes(label)) {\n    chosenStyle = value;\n    chosenLabel = label;\n    break;\n  }\n}\n\nconst pending = staticData[`pending_${chatId}`];\nif (!pending) {\n  return [{ json: { chatId, fileId: '', mediaType: '', chosenStyle, chosenLabel, error: true } }];\n}\n\nconst result = {\n  chatId,\n  fileId: pending.fileId,\n  mediaType: pending.mediaType,\n  chosenStyle,\n  chosenLabel,\n  error: false\n};\n\n// Nettoyage\ndelete staticData[`pending_${chatId}`];\n\nreturn [{ json: result }];"
      },
      "id": "2667d23e-9244-47c1-9ece-afe53c51c44f",
      "name": "Load Media + Style",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        1100
      ],
      "notes": "R\u00e9cup\u00e8re le file_id sauvegard\u00e9 + extrait le style du texte du bouton"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "has-pending",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "cb840766-5953-4e3f-b05f-546faea2b576",
      "name": "Has Pending Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        1100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "\u26a0\ufe0f Aucun m\u00e9dia en attente. Envoyez d'abord une photo ou vid\u00e9o de votre pi\u00e8ce vide, puis choisissez un style.",
        "additionalFields": {}
      },
      "id": "587f8f12-f5ad-485e-b4d4-97ea32d63a60",
      "name": "No Pending Media",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        1300
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.chatId), text: '\ud83d\ude80 Style *' + $json.chosenLabel + '* s\u00e9lectionn\u00e9 !\\n\\n\u23f3 Analyse de votre espace en cours... Cela prendra environ 2-3 minutes.\\n\\nJe vais :\\n1. Analyser votre pi\u00e8ce \ud83d\udd0d\\n2. G\u00e9n\u00e9rer 5 \u00e9tapes de transformation \ud83c\udfa8\\n3. Cr\u00e9er une vid\u00e9o cin\u00e9matique \ud83c\udfac', parse_mode: 'Markdown', reply_markup: { remove_keyboard: true } }) }}",
        "options": {}
      },
      "id": "1fb24290-ab43-447a-a2ce-8b0950bd6f15",
      "name": "Send Processing + Remove Keyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        1050
      ],
      "notes": "Confirme le style choisi et retire le clavier personnalis\u00e9"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/getFile?file_id={{ $('Load Media + Style').first().json.fileId }}",
        "options": {}
      },
      "id": "009afd6c-1c36-40a9-be16-f63cae2891e4",
      "name": "Download Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        1100
      ],
      "notes": "Appelle Telegram getFile API pour obtenir le file_path"
    },
    {
      "parameters": {
        "jsCode": "// Build file URL from Telegram getFile API response\nconst input = $input.first().json;\nconst mediaType = $('Load Media + Style').first().json.mediaType;\n\n// HTTP Request returns { ok, result: { file_path } }\nconst filePath = input.result?.file_path || input.file_path || '';\nconst botToken = '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst fileUrl = filePath.startsWith('http') ? filePath : `https://api.telegram.org/file/bot${botToken}/${filePath}`;\n\nreturn [{ json: { frameUrl: fileUrl, lastFrameUrl: fileUrl, mediaType, fileUrl } }];"
      },
      "id": "371cf1cf-1624-4453-8200-4f1cce7e560c",
      "name": "Extract Frames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        1100
      ],
      "notes": "Construit l'URL du fichier Telegram pour GPT-4o Vision (remplace ffmpeg)"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendMessage",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es l'Agent IA VIMIMO \u2014 Expert en analyse immobili\u00e8re et architecture int\u00e9rieure.\n\nTa MISSION : Analyser la photo d'une pi\u00e8ce vide et produire un diagnostic complet en JSON qui servira de base pour g\u00e9n\u00e9rer 5 \u00e9tapes de Virtual Staging IA.\n\nANALYSE OBLIGATOIRE :\n1. TYPE DE PI\u00c8CE : Identifier pr\u00e9cis\u00e9ment (living_room, bedroom, kitchen, bathroom, dining_room, office, studio)\n2. DIMENSIONS ESTIM\u00c9ES :\n   - Surface au sol approximative (ex: 25m\u00b2)\n   - Hauteur sous plafond (ex: 2.7m)\n   - Forme : rectangular, L-shaped, irregular\n3. MAT\u00c9RIAUX EXISTANTS (CRITIQUE pour la coh\u00e9rence du staging) :\n   - Sol : b\u00e9ton brut, carrelage, parquet, moquette, etc. + couleur + \u00e9tat\n   - Murs : pl\u00e2tre blanc, b\u00e9ton apparent, brique, papier peint, etc. + \u00e9tat\n   - Plafond : type, couleur, \u00e9tat\n4. \u00c9CLAIRAGE (VITAL pour \u00e9viter des ombres incoh\u00e9rentes) :\n   - Lumi\u00e8re naturelle : abundant / moderate / limited / none\n   - Nombre de fen\u00eatres et orientation probable (north/south/east/west)\n   - Direction principale de la lumi\u00e8re (d'o\u00f9 viennent les ombres)\n5. ANGLE DE CAM\u00c9RA (ESSENTIEL pour maintenir la perspective identique sur les 5 frames) :\n   - Objectif : wide_angle / standard / telephoto\n   - Hauteur : eye_level / low / high\n   - Orientation d\u00e9taill\u00e9e (ex: 'Corner shot from entrance, facing towards windows, ~120\u00b0 field of view')\n6. CONTRAINTES STRUCTURELLES :\n   - Portes, piliers, alcoves, formes irr\u00e9guli\u00e8res\n   - Zones o\u00f9 il ne faut PAS placer de mobilier\n7. NOTES : Potentiel d\u00e9coratif, ambiance g\u00e9n\u00e9rale, points d'attention\n\nR\u00c8GLES :\n- R\u00e9ponds UNIQUEMENT en JSON valide (pas de markdown, pas de commentaires)\n- Ne PAS inventer de d\u00e9tails non visibles\n- Privil\u00e9gier la pr\u00e9cision\n- Toujours noter l'angle de cam\u00e9ra pour garantir la coh\u00e9rence\n\nFORMAT : {roomType, dimensions: {estimatedArea, ceilingHeight, shape}, existingMaterials: {flooring, walls, ceiling}, lighting: {naturalLight, windowCount, lightDirection, shadowDirection}, cameraAngle: {perspective, height, orientation}, constraints: [], style, notes}"
            },
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Analyse cette pi\u00e8ce pour un virtual staging professionnel. Le client a choisi le style : {{ $('Load Media + Style').first().json.chosenLabel }}. Identifie chaque d\u00e9tail structurel, chaque source de lumi\u00e8re, chaque mat\u00e9riau visible. Ton analyse va d\u00e9terminer o\u00f9 et comment placer chaque meuble."
                },
                {
                  "type": "image_url",
                  "image_url": {
                    "url": "={{ $json.frameUrl }}"
                  }
                }
              ]
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 2000
        }
      },
      "id": "d1a95e10-0720-461b-b0fc-559b62f10281",
      "name": "Agent IA \u2014 Vision Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.6,
      "position": [
        2050,
        1100
      ],
      "credentials": {
        "openAiApi": {
          "id": "rkQ1tfCNQOOSMIye",
          "name": "VIMIMO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Auto-Upsell : g\u00e9n\u00e8re un message contextuel bas\u00e9 sur l'analyse\nconst analysis = JSON.parse($input.first().json.choices[0].message.content);\nconst chatId = $('Load Media + Style').first().json.chatId;\nconst chosenLabel = $('Load Media + Style').first().json.chosenLabel;\n\nconst roomLabels = {\n  living_room: 'salon', bedroom: 'chambre', kitchen: 'cuisine',\n  bathroom: 'salle de bain', dining_room: 'salle \u00e0 manger',\n  office: 'bureau', studio: 'studio'\n};\n\nconst suggestions = {\n  living_room: 'ajouter un \u00e9clairage d\\'ambiance tamis\u00e9 et une disposition de canap\u00e9 qui maximise la perception d\\'espace',\n  bedroom: 'int\u00e9grer du textile chaleureux et un \u00e9clairage cocooning pour cr\u00e9er une atmosph\u00e8re intime',\n  kitchen: 'ajouter des accessoires de cuisine haut de gamme et un plan de travail \u00e9pur\u00e9',\n  bathroom: 'int\u00e9grer des plantes vertes et un \u00e9clairage spa pour une ambiance zen',\n  dining_room: 'ajouter un luminaire suspendu comme point focal et un set de table \u00e9l\u00e9gant',\n  office: 'int\u00e9grer un setup ergonomique avec des \u00e9tag\u00e8res d\u00e9coratives',\n  studio: 'optimiser chaque zone avec du mobilier multifonction'\n};\n\nconst roomType = analysis.roomType || 'living_room';\nconst roomLabel = roomLabels[roomType] || 'pi\u00e8ce';\nconst suggestion = suggestions[roomType] || suggestions.living_room;\nconst lightInfo = analysis.lighting?.naturalLight || 'mod\u00e9r\u00e9e';\nconst area = analysis.dimensions?.estimatedArea || '';\n\nlet upsell = `\ud83d\udd0d *Analyse termin\u00e9e !*\\n\\n`;\nupsell += `J'ai d\u00e9tect\u00e9 un(e) *${roomLabel}*`;\nif (area) upsell += ` d'environ *${area}*`;\nupsell += ` avec une luminosit\u00e9 *${lightInfo}*.\\n\\n`;\nupsell += `\ud83d\udca1 En style *${chosenLabel}*, je vais ${suggestion}.\\n\\n`;\nupsell += `_(Option incluse dans votre rendu)_\\n\\n`;\nupsell += `\u23f3 G\u00e9n\u00e9ration des 5 \u00e9tapes de transformation en cours...`;\n\nreturn [{ json: { chatId, upsellText: upsell, analysis } }];"
      },
      "id": "245e0286-c3bd-40a1-8359-5cd94d6125fe",
      "name": "Upsell Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2350,
        950
      ],
      "notes": "G\u00e9n\u00e8re un message contextuel 'Wow' bas\u00e9 sur l'analyse de la pi\u00e8ce"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.upsellText }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "74729098-c65e-4c5a-a208-978959bf7daf",
      "name": "Send Upsell",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2650,
        950
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      },
      "notes": "Message contextuel envoy\u00e9 pendant que le pipeline continue en parall\u00e8le"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendMessage",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es l'Agent IA VIMIMO \u2014 Directeur Artistique & Prompt Engineer sp\u00e9cialis\u00e9 en Virtual Staging immobilier pour Stable Diffusion XL + ControlNet Canny.\n\nTA MISSION : \u00c0 partir de l'analyse Vision (JSON) et du style choisi, g\u00e9n\u00e9rer exactement 5 prompts de transformation PROGRESSIVE. Chaque prompt s'appuie sur le pr\u00e9c\u00e9dent sans JAMAIS retirer d'\u00e9l\u00e9ments.\n\nLES 5 \u00c9TAPES :\n\n1. original_clean (Nettoyage num\u00e9rique)\n   - Corriger imperfections mineures (taches, fils, poussi\u00e8re)\n   - Am\u00e9liorer subtilement l'\u00e9clairage naturel\n   - Pi\u00e8ce VIDE, aucun mobilier\n\n2. surface_renovation (R\u00e9novation des surfaces)\n   - Nouveau sol adapt\u00e9 au style (ex: 'light oak herringbone hardwood flooring')\n   - Murs frais, accent wall si coh\u00e9rent avec le style\n   - Plinthes et finitions propres\n   - TOUJOURS VIDE, pas de mobilier\n\n3. large_furniture (Gros volumes \u2014 3-4 pi\u00e8ces max)\n   - GARDER surfaces de l'\u00e9tape 2\n   - Ajouter : canap\u00e9/lit principal, tapis, meuble TV/biblioth\u00e8que\n   - Pr\u00e9ciser : position exacte, mati\u00e8re, couleur, taille proportionnelle\n   - Ex: 'large cognac leather three-seater sofa centered facing windows, 2.2m wide'\n\n4. full_furnishing (Ameublement complet)\n   - GARDER TOUT de l'\u00e9tape 3 (r\u00e9p\u00e9ter chaque \u00e9l\u00e9ment)\n   - Ajouter : table basse, chaises, luminaires, rideaux\n   - Chaque ajout doit s'accorder avec le mobilier existant\n\n5. final_decoration (D\u00e9coration & ambiance finale)\n   - GARDER TOUT de l'\u00e9tape 4 (r\u00e9p\u00e9ter chaque \u00e9l\u00e9ment)\n   - Ajouter : plantes, cadres, coussins, bougies, livres, vase\n   - R\u00e9gler l'\u00e9clairage final : 'warm golden hour lighting, soft cinematic shadows'\n   - Touch finale selon le style\n\nPROMPT ENGINEERING \u2014 R\u00c8GLES CRITIQUES :\n\n1. STRUCTURE de chaque prompt :\n   [STYLE], [DESCRIPTION PI\u00c8CE + MODIFICATIONS], proportional furniture, [ELEMENTS SPECIFIQUES], [MATERIAUX/TEXTURES], [ECLAIRAGE], fixed camera angle [ANGLE EXACT de l'analyse], interior photography, 8k resolution, photorealistic, architectural digest quality, highly detailed textures\n\n2. MOTS-CL\u00c9S OBLIGATOIRES dans CHAQUE prompt :\n   - 'proportional' \u2192 meubles \u00e0 l'\u00e9chelle\n   - 'fixed camera angle' + angle exact de l'analyse \u2192 perspective identique\n   - 'photorealistic' \u2192 \u00e9vite les rendus cartoon\n   - 'interior photography' \u2192 ancre le style photo\n   - '8k resolution' \u2192 force la qualit\u00e9\n   - 'highly detailed textures' \u2192 r\u00e9alisme des mati\u00e8res\n\n3. PROMPT WEIGHTING (CRITIQUE) :\n   - Donner PLUS d'importance aux \u00e9l\u00e9ments structurels (murs, sol, fen\u00eatres) qu'aux meubles\n   - Toujours d\u00e9crire les murs et le sol EN PREMIER dans le prompt\n   - Les meubles viennent APRES la structure\n\n4. CONTINUIT\u00c9 (R\u00c8GLE D'OR) :\n   - Le prompt 5 DOIT contenir TOUS les \u00e9l\u00e9ments des prompts 1-4\n   - Utiliser les M\u00caMES descriptifs de couleur/mati\u00e8re d'un prompt \u00e0 l'autre\n   - Ne JAMAIS changer le style entre les frames\n\n5. TRADUCTION DE STYLE :\n   - scandinavian \u2192 'Scandinavian design, light wood, clean lines, hygge atmosphere, neutral warm tones, natural materials'\n   - industrial \u2192 'Industrial loft style, exposed brick, raw metal, Edison bulbs, reclaimed wood, dark leather'\n   - modern_minimalist \u2192 'Modern minimalist, Italian design furniture, clean geometric lines, neutral palette, statement lighting'\n   - classic_french \u2192 'Classic French interior, elegant moldings, marble accents, velvet upholstery, gold details, chandelier'\n   - bohemian \u2192 'Bohemian eclectic, layered textiles, rattan, macrame, plants, warm earthy tones, vintage rugs'\n\nMOTS-CL\u00c9S INTERDITS : illustration, drawing, cartoon, anime, tiny, giant, miniature, empty room (\u00e0 partir du prompt 3)\n\nFORMAT DE SORTIE (JSON STRICT) :\n{\n  \"style\": \"nom_du_style\",\n  \"negativePrompt\": \"blurry, distorted, deformed, low quality, watermark, text, unrealistic proportions, floating furniture, mismatched perspective, cartoon, anime, illustration, painting, sketch, multiple rooms, split view\",\n  \"frames\": [\n    {\"step\": 1, \"label\": \"original_clean\", \"prompt\": \"...\"},\n    {\"step\": 2, \"label\": \"surface_renovation\", \"prompt\": \"...\"},\n    {\"step\": 3, \"label\": \"large_furniture\", \"prompt\": \"...\"},\n    {\"step\": 4, \"label\": \"full_furnishing\", \"prompt\": \"...\"},\n    {\"step\": 5, \"label\": \"final_decoration\", \"prompt\": \"...\"}\n  ],\n  \"controlnet\": {\"model\": \"canny\", \"strength\": 0.85, \"guidanceScale\": 7.5}\n}\n\nR\u00e9ponds UNIQUEMENT en JSON valide. Pas de markdown, pas de commentaires."
            },
            {
              "role": "user",
              "content": "STYLE CHOISI PAR LE CLIENT : {{ $('Load Media + Style').first().json.chosenStyle }}\n\nANALYSE VISION DE LA PI\u00c8CE :\n{{ $json.choices[0].message.content }}\n\nG\u00e9n\u00e8re les 5 prompts progressifs. Rappel : chaque prompt DOIT r\u00e9p\u00e9ter tous les \u00e9l\u00e9ments des \u00e9tapes pr\u00e9c\u00e9dentes. Le prompt 5 est le plus long car il contient TOUT."
            }
          ]
        },
        "options": {
          "temperature": 0.6,
          "maxTokens": 4000
        }
      },
      "id": "72d7977b-ab57-4bf9-a86d-a3db810d602e",
      "name": "Agent IA \u2014 Staging Prompter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.6,
      "position": [
        2350,
        1100
      ],
      "credentials": {
        "openAiApi": {
          "id": "rkQ1tfCNQOOSMIye",
          "name": "VIMIMO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const promptsData = JSON.parse($input.first().json.choices[0].message.content);\nconst frames = promptsData.frames;\nconst controlnet = promptsData.controlnet;\n\nreturn frames.map(frame => ({\n  json: {\n    ...frame,\n    negativePrompt: promptsData.negativePrompt,\n    controlnetStrength: controlnet.strength,\n    guidanceScale: controlnet.guidanceScale,\n    model: controlnet.model\n  }\n}));"
      },
      "id": "254d6f04-453e-42e9-bdcf-637d48aa7b70",
      "name": "Split Into 5 Frames",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        1100
      ]
    },
    {
      "parameters": {
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "SDXL_CONTROLNET_CANNY_VERSION_ID"
            },
            {
              "name": "input",
              "value": "={{ JSON.stringify({ prompt: $json.prompt, negative_prompt: $json.negativePrompt, image: $('Extract Frames').first().json.frameUrl, controlnet_conditioning_scale: $json.controlnetStrength, guidance_scale: $json.guidanceScale, prompt_strength: 0.6, num_inference_steps: 30, width: 1344, height: 768, seed: 42 + $json.step }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "399ff4f2-4d43-41e0-8192-557639924e40",
      "name": "Replicate SDXL + ControlNet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bGeZ2M0KiCK1DBEs",
          "name": "VIMIMO Replicate"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.replicate.com/v1/predictions/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 120000
        }
      },
      "id": "79fa3d2a-1d28-4b9c-a53b-8335bd1a87d3",
      "name": "Poll Replicate Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bGeZ2M0KiCK1DBEs",
          "name": "VIMIMO Replicate"
        }
      },
      "notes": "En production, ajouter un noeud Wait + Loop until status='succeeded'"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst images = items.map((item, i) => ({\n  url: item.json.output[0],\n  step: i + 1,\n  label: ['original_clean','surface_renovation','large_furniture','full_furnishing','final_decoration'][i]\n}));\n\nreturn [{ json: { images } }];"
      },
      "id": "584e5a3d-de2a-4df1-88b5-d823b6542407",
      "name": "Aggregate 5 Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3350,
        1100
      ]
    },
    {
      "parameters": {
        "url": "https://api.higsfield.com/v1/generate",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "start_image",
              "value": "={{ $json.images[0].url }}"
            },
            {
              "name": "end_image",
              "value": "={{ $json.images[4].url }}"
            },
            {
              "name": "prompt",
              "value": "Furniture items appear and settle into place one by one, cinematic lighting, smooth subtle forward camera dolly motion, photorealistic interior, professional real estate showcase video, 4K quality, steady camera, no flickering"
            },
            {
              "name": "negative_prompt",
              "value": "shaky camera, distortion, morphing artifacts, blurry, low quality, cartoon"
            },
            {
              "name": "duration",
              "value": "6"
            },
            {
              "name": "fps",
              "value": "24"
            },
            {
              "name": "motion_strength",
              "value": "0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "cbcf82d4-6bde-44e9-8efa-700b4f9f46dc",
      "name": "Higsfield Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gQwlIi65Wr6txoFg",
          "name": "VIMIMO Higsfield"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Load Media + Style').first().json.chatId;\nconst chosenStyle = $('Load Media + Style').first().json.chosenStyle;\nconst images = $('Aggregate 5 Images').first().json.images;\nconst aiVideoUrl = $input.first().json.video_url;\nconst roomAnalysis = JSON.parse($('Agent IA \u2014 Vision Analysis').first().json.choices[0].message.content);\n\nconst remotionPayload = {\n  originalVideoUrl: $('Download Media').first().json.fileUrl,\n  aiVideoUrl: aiVideoUrl,\n  images: images,\n  metadata: {\n    roomAnalysis: roomAnalysis,\n    chosenStyle: chosenStyle,\n    generationConfig: {\n      model: 'stability-ai/sdxl',\n      controlnetModel: 'canny',\n      controlnetStrength: 0.85,\n      guidanceScale: 7.5,\n      promptStrength: 0.6,\n      negativePrompt: 'blurry, distorted, deformed, low quality, watermark, text, unrealistic proportions, floating furniture, mismatched perspective, cartoon, anime, illustration',\n      width: 1344,\n      height: 768,\n      baseSeed: 42\n    }\n  },\n  videoConfig: {\n    fps: 30,\n    durationInSeconds: 10,\n    width: 1920,\n    height: 1080,\n    speedRamp: {\n      introSpeed: 2.0,\n      stagingSpeed: 0.5,\n      outroSpeed: 2.0,\n      introRatio: 0.2,\n      stagingRatio: 0.6,\n      outroRatio: 0.2\n    },\n    transitions: { durationInFrames: 16, smoothCutBlur: 4 },\n    upscaling: { enabled: true, contrast: 1.1, saturation: 1.05 }\n  },\n  telegram: { chatId: chatId }\n};\n\nreturn [{ json: remotionPayload }];"
      },
      "id": "56489589-6bc1-44f8-b753-80e0a41adee7",
      "name": "Build Remotion Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        1100
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.REMOTION_RENDER_URL || 'http://localhost:8000/api/render' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "30a7b5d6-b1bb-42eb-8f16-5831985d9980",
      "name": "Trigger Remotion Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4100,
        1100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Load Media + Style').first().json.chatId }}",
        "operation": "sendVideo",
        "videoFile": "={{ $json.videoUrl }}",
        "caption": "\ud83c\udfac *Votre Virtual Staging est pr\u00eat !*\n\nVotre espace transform\u00e9 en int\u00e9rieur de magazine.\n\n\ud83d\udd04 Envoyez une nouvelle photo pour un autre rendu !\n\ud83d\udcac Tapez /styles pour changer de style.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "33f10b7a-47a9-49c7-96a1-37044c99b430",
      "name": "Send Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4350,
        1100
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\ud83d\udc4b Je n'ai pas compris votre message.\n\nVoici ce que je peux faire :\n\ud83d\udcf8 Envoyez-moi une *photo* ou *vid\u00e9o* d'une pi\u00e8ce vide.\n/start \u2014 Relancer l'assistant\n/styles \u2014 Voir les styles disponibles\n/aide \u2014 Conseils pour filmer",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "26ce662a-eeba-4d08-98cf-3972d73ac43d",
      "name": "Send Default",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        1500
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "TelegramBot": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Styles Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Examples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Tips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Media + Style",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Media": {
      "main": [
        [
          {
            "node": "Ack + Style Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Media + Style": {
      "main": [
        [
          {
            "node": "Has Pending Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Media?": {
      "main": [
        [
          {
            "node": "Send Processing + Remove Keyboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "Extract Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Frames": {
      "main": [
        [
          {
            "node": "Agent IA \u2014 Vision Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent IA \u2014 Vision Analysis": {
      "main": [
        [
          {
            "node": "Upsell Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent IA \u2014 Staging Prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsell Builder": {
      "main": [
        [
          {
            "node": "Send Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent IA \u2014 Staging Prompter": {
      "main": [
        [
          {
            "node": "Split Into 5 Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into 5 Frames": {
      "main": [
        [
          {
            "node": "Replicate SDXL + ControlNet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate SDXL + ControlNet": {
      "main": [
        [
          {
            "node": "Poll Replicate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Replicate Result": {
      "main": [
        [
          {
            "node": "Aggregate 5 Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 5 Images": {
      "main": [
        [
          {
            "node": "Higsfield Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Higsfield Video Generation": {
      "main": [
        [
          {
            "node": "Build Remotion Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remotion Payload": {
      "main": [
        [
          {
            "node": "Trigger Remotion Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Remotion Render": {
      "main": [
        [
          {
            "node": "Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}