n8n/workflow-v2-deploy.json
{
  "name": "VIMIMO v2.2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "08e85364-9d4b-4243-9cfd-3ba3b6e79e4b",
      "name": "TelegramBot",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        800
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-callback",
                    "leftValue": "={{ $json.callback_query ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_query"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-start",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-styles",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "/styles",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "styles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-exemples",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "/exemples",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exemples"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-aide",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "/aide",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aide"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-go",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "/go",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "go"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "has-media",
                    "leftValue": "={{ ($json.message && ($json.message.photo || $json.message.video)) ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "style-scandinave",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "Scandinave",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "style-industriel",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "Industriel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "style-moderne",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "Moderne",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "style-classique",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "Classique",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "style-boheme",
                    "leftValue": "={{ ($json.message && $json.message.text) || '' }}",
                    "rightValue": "Boh",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "style_choice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "id": "is-freetext",
                    "leftValue": "={{ ($json.message && $json.message.text) ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "free_text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "814d95c4-42e0-414a-830e-e011879b437b",
      "name": "CommandRouter",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        800
      ],
      "notes": "Routes: /start, /styles, /exemples, /aide, /go, media, style_choice, free_text, callback_query, fallback"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🏠 *Bienvenue chez VIMIMO v2.2 — Virtual Staging Interactif*\n\nTransformez vos espaces vides en intérieurs de magazine.\n\n🚀 *COMMENT DÉMARRER ?*\n\n1️⃣ Envoyez-moi *plusieurs photos* de pièces vides.\n2️⃣ Choisissez le type de bien et un style.\n3️⃣ Tapez */go* pour lancer le staging.\n\n🎨 *Nouveau :* Retouche Magique — envoyez un texte pendant la sélection pour générer une option custom !\n\n👇 *Prêt ? Envoyez votre première photo !*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "05fef3d8-0688-4877-bd8e-3f6e48f4034e",
      "name": "SendWelcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.message.chat.id, text: '🎨 *Catalogue des Styles VIMIMO*\\n\\n🖼️ *Scandinave* — Bois clair, lignes épurées, tons neutres et chaleureux.\\n🧱 *Industriel* — Métal brut, briques, mobilier vintage.\\n✨ *Moderne* — Minimaliste, design épuré, touches de couleur.\\n🏛️ *Classique* — Élégance intemporelle, moulures, dorures subtiles.\\n🌿 *Bohème* — Textures naturelles, plantes, atmosphère décontractée.\\n\\n👇 Choisissez votre style !', parse_mode: 'Markdown', reply_markup: { keyboard: [[{text:'🖼️ Scandinave'},{text:'🧱 Industriel'}],[{text:'✨ Moderne'},{text:'🏛️ Classique'}],[{text:'🌿 Bohème'}]], resize_keyboard: true, one_time_keyboard: true } }) }}",
        "options": {}
      },
      "id": "4c143477-a9f5-496e-812b-a69d6c4395e3",
      "name": "SendStylesCatalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🎬 *Nos Meilleures Réalisations*\n\nVoici quelques exemples de transformations réalisées par VIMIMO :\n\n🔗 _Les exemples vidéo seront ajoutés ici une fois vos premières réalisations terminées._\n\n💡 Envoyez-moi votre première photo pour créer votre propre avant/après !",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1e683b0a-3958-4ed7-b61d-83bf24d786f0",
      "name": "SendExamples",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📸 *Conseils pour un Rendu Parfait*\n\n*Pour une photo :*\n• Placez-vous dans un coin de la pièce.\n• Cadrez le plus large possible.\n• Assurez un bon éclairage (ouvrez les volets !).\n\n*Évitez :*\n❌ Les pièces encombrées (videz au maximum).\n❌ Les contre-jours forts.\n\n👇 Prêt ? Envoyez vos photos !",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "25ece306-0c5a-41c4-94e2-83f19282d76b",
      "name": "SendTips",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AccumulatePhoto V6 — inline wizard (property type selection)\nconst https = require('https');\nconst process = require('process');\nconst _botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\n\nfunction postTelegram(body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const req = https.request({\n      hostname: 'api.telegram.org',\n      path: '/bot' + _botToken + '/sendMessage',\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(data) }\n    }, (res) => { let b=''; res.on('data',c=>b+=c); res.on('end',()=>resolve(b)); });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\n\nconst fileId = msg.photo\n  ? msg.photo[msg.photo.length - 1].file_id\n  : (msg.video ? msg.video.file_id : null);\nconst mediaType = msg.video ? 'video' : 'photo';\n\nif (!fileId) return [];\n\n// Edge case: clear awaiting_info flag if user sends photos instead of typing info\nif (staticData[`awaiting_info_${chatId}`]) {\n  delete staticData[`awaiting_info_${chatId}`];\n}\n\n// Store photo — uniform key for singles AND album photos\nconst photoKey = `photo_${chatId}_${fileId}`;\nstaticData[photoKey] = { fileId, mediaType, chatId, timestamp: Date.now() };\n\nconst propKeyboard = { inline_keyboard: [\n  [{ text: '\\ud83c\\udfe2 Appartement', callback_data: 'prop_apartment' }, { text: '\\ud83c\\udfe1 Maison', callback_data: 'prop_house' }],\n  [{ text: '\\ud83c\\udfea Commercial', callback_data: 'prop_commercial' }]\n] };\n\nif (msg.media_group_id) {\n  // ALBUM photo: send property type wizard only ONCE per album (first photo)\n  const mgKey = `mg_${chatId}_${msg.media_group_id}`;\n  if (!staticData[mgKey]) {\n    staticData[mgKey] = Date.now();\n    await postTelegram({\n      chat_id: Number(chatId),\n      text: '\\ud83d\\udcf8 *Album d\\u00e9tect\\u00e9 !* Je t\\u00e9l\\u00e9charge vos photos...\\n\\n\\ud83c\\udfe0 Quel type de bien souhaitez-vous meubler ?',\n      parse_mode: 'Markdown',\n      reply_markup: propKeyboard\n    });\n  }\n  return [];\n}\n\n// SINGLE photo: send property type wizard\nconst prefix = `photo_${chatId}_`;\nconst count = Object.keys(staticData).filter(k => k.startsWith(prefix)).length;\nawait postTelegram({\n  chat_id: Number(chatId),\n  text: '\\ud83d\\udcf7 Photo ' + count + ' re\\u00e7ue !\\n\\n\\ud83c\\udfe0 Quel type de bien souhaitez-vous meubler ?',\n  reply_markup: propKeyboard\n});\nreturn [];"
      },
      "id": "7ec41e06-ce98-4aed-ae40-cc50f50a043c",
      "name": "AccumulatePhoto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        850
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.chatId), text: ($json.isAlbum ? '\\ud83d\\udcf8 Album re\\u00e7u ! Choisissez un style puis tapez /go.' : '\\ud83d\\udcf7 Photo ' + $json.count + ' re\\u00e7ue ! Envoyez d\\u0027autres photos ou tapez /go.') + '\\n\\n\\ud83c\\udfa8 Style actuel : ' + ($json.style || 'Choisissez ci-dessous'), reply_markup: { keyboard: [[{text:'\\ud83d\\uddbc\\ufe0f Scandinave'},{text:'\\ud83e\\uddf1 Industriel'}],[{text:'\\u2728 Moderne'},{text:'\\ud83c\\udfdb\\ufe0f Classique'}],[{text:'\\ud83c\\udf3f Boh\\u00e8me'}]], resize_keyboard: true, one_time_keyboard: false } }) }}",
        "options": {}
      },
      "id": "ef903de1-0235-46b5-9f65-0648cde747de",
      "name": "AckStyleKeyboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "// Save style choice using unique key pattern\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\nconst text = msg.text || '';\n\nconst styleMap = {\n  'Scandinave': 'scandinavian',\n  'Industriel': 'industrial',\n  'Moderne': 'modern_minimalist',\n  'Classique': 'classic_french',\n  'Boh\\u00e8me': 'bohemian'\n};\n\nlet chosenStyle = 'modern_minimalist';\nlet chosenLabel = 'Moderne';\nfor (const [label, value] of Object.entries(styleMap)) {\n  if (text.includes(label)) { chosenStyle = value; chosenLabel = label; break; }\n}\n\n// Store style with unique key\nconst styleKey = `style_${chatId}`;\nstaticData[styleKey] = { style: chosenStyle, label: chosenLabel };\n\n// Count photos\nconst prefix = `photo_${chatId}_`;\nconst photoCount = Object.keys(staticData).filter(k => k.startsWith(prefix)).length;\n\nreturn [{ json: { chatId, chosenStyle, chosenLabel, photoCount } }];"
      },
      "id": "a1a0c709-b2ff-4766-8925-4cd8453feb5c",
      "name": "SaveStyleChoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.chatId), text: '\\u2705 Style *' + $json.chosenLabel + '* s\\u00e9lectionn\\u00e9 !\\n\\nVous avez ' + $json.photoCount + ' photo(s).\\nEnvoyez d\\'autres photos ou tapez /go pour lancer.', parse_mode: 'Markdown', reply_markup: { keyboard: [[{text:'\\ud83d\\uddbc\\ufe0f Scandinave'},{text:'\\ud83e\\uddf1 Industriel'}],[{text:'\\u2728 Moderne'},{text:'\\ud83c\\udfdb\\ufe0f Classique'}],[{text:'\\ud83c\\udf3f Boh\\u00e8me'}]], resize_keyboard: true, one_time_keyboard: false } }) }}",
        "options": {}
      },
      "id": "7c73c7cc-e036-4c6d-ac06-68650a955bf4",
      "name": "SendStyleConfirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\n\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\n\nasync function sendTelegramError(text) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: chatId, text, parse_mode: 'Markdown'\n  });\n}\n\n// Clean expired sessions (> 15min inactivity)\nconst now = Date.now();\nconst fifteenMin = 15 * 60 * 1000;\nObject.keys(staticData).filter(k => k.startsWith('session_')).forEach(k => {\n  if (staticData[k].updatedAt && (now - staticData[k].updatedAt) > fifteenMin) {\n    delete staticData[k];\n  }\n});\n\n// Clean ANY existing session for this user (/go = explicit restart intent)\n// Covers ghost sessions stuck in 'videos', 'rendering', or stale 'selecting'\nconst sessionKey = `session_${chatId}`;\nif (staticData[sessionKey]) {\n  const phase = staticData[sessionKey].phase;\n  const sessionAge = now - (staticData[sessionKey].updatedAt || staticData[sessionKey].createdAt || 0);\n  if (phase === 'selecting' && sessionAge < fifteenMin) {\n    // Only block if actively selecting AND recent — user may have clicked /go by mistake\n    await sendTelegramError('⚠️ Vous avez déjà un staging en cours !\\n\\nTerminez vos sélections ou attendez quelques minutes avant de relancer /go.');\n    return [];\n  }\n  // Any other phase (videos, rendering) or stale selecting → force cleanup\n  delete staticData[sessionKey];\n  if (sessionAge < fifteenMin) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: chatId, text: '🔄 Session précédente nettoyée, relancement...', parse_mode: 'Markdown'\n    });\n  }\n}\n\n// Clear transient keys (autoStart flags, album ack dedup markers)\ndelete staticData[`autoStart_${chatId}`];\nObject.keys(staticData).filter(k => k.startsWith(`mg_${chatId}_`)).forEach(k => delete staticData[k]);\n\nconst photoPrefix = `photo_${chatId}_`;\nconst photoKeys = Object.keys(staticData).filter(k => k.startsWith(photoPrefix));\n// Filter out old photos (>30min) whose file_ids may have expired\nconst thirtyMin = 30 * 60 * 1000;\nconst allPhotos = photoKeys.map(k => staticData[k]);\nconst photos = allPhotos.filter(p => (now - p.timestamp) < thirtyMin).sort((a, b) => a.timestamp - b.timestamp);\n// Clean up expired photo keys\nallPhotos.filter(p => (now - p.timestamp) >= thirtyMin).forEach(p => {\n  const k = `photo_${chatId}_${p.fileId}`;\n  delete staticData[k];\n});\n\nif (photos.length === 0) {\n  await sendTelegramError('⚠️ Aucune photo en attente !\\n\\nEnvoyez des photos puis tapez /go.');\n  return [];\n}\n\nconst styleKey = `style_${chatId}`;\nconst styleData = staticData[styleKey];\nif (!styleData || !styleData.style) {\n  await sendTelegramError('⚠️ Aucun style sélectionné !\\n\\nChoisissez un style avant /go.');\n  return [];\n}\n\nconst propKey = `prop_${chatId}`;\nconst propertyType = staticData[propKey] || 'apartment';\nconst propertyInfo = staticData[`propertyInfo_${chatId}`] || null;\n\nconst result = {\n  chatId, photos,\n  style: styleData.style,\n  styleLabel: styleData.label || 'Moderne',\n  totalPhotos: photos.length,\n  propertyType,\n  propertyInfo\n};\n\n// Don't clean up keys here — InitializeSession will do it\nreturn [{ json: result }];\n"
      },
      "id": "81ab51f4-f2b0-411c-9d98-6ae45d124490",
      "name": "StartProcessing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        1400
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction get(url, headers = {}) {\n  return httpRequest(url, { headers, timeout: 300000 });\n}\n\nconst data = $input.first().json;\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst photos = data.photos;\nconst photoUrls = [];\nconst debugErrors = [];\n\nfor (let i = 0; i < photos.length; i++) {\n  try {\n  const fileUrl = `https://api.telegram.org/bot${botToken}/getFile?file_id=${encodeURIComponent(photos[i].fileId)}`;\n  const resp = await get(fileUrl);\n  if (!resp.data || !resp.data.ok) {\n    debugErrors.push(`Photo ${i}: status=${resp.status} ok=${resp.data && resp.data.ok} desc=${resp.data && resp.data.description || 'none'}`);\n    continue;\n  }\n  const filePath = resp.data.result.file_path;\n  const url = `https://api.telegram.org/file/bot${botToken}/${filePath}`;\n  photoUrls.push({ index: photoUrls.length + 1, url, mediaType: photos[i].mediaType });\n  } catch (e) {\n    debugErrors.push(`Photo ${i}: EXCEPTION ${e.message || e}`);\n    continue;\n  }\n}\n\nif (photoUrls.length === 0) {\n  const debugMsg = debugErrors.slice(0, 3).join('\\n');\n  const tokenPreview = botToken ? (botToken.substring(0, 10) + '...') : 'UNDEFINED';\n  await httpRequest(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: Number(data.chatId), text: '\\u26a0\\ufe0f Aucune photo valide (token=' + tokenPreview + ')\\n\\n' + debugMsg + '\\n\\nRenvoyez vos photos et relancez /go.' }),\n    timeout: 10000\n  });\n  return [];\n}\nreturn [{ json: { ...data, photoUrls, totalPhotos: photoUrls.length } }];"
      },
      "id": "5c369f92-96eb-4dc7-942c-b2c9977e0bf8",
      "name": "DownloadAllPhotos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: Number($json.chatId), text: '\\ud83d\\udd0d *Analyse en cours de vos ' + $json.totalPhotos + ' photos en style ' + $json.styleLabel + '...*\\n\\nVous pourrez ensuite choisir votre staging pr\\u00e9f\\u00e9r\\u00e9 pour chaque pi\\u00e8ce.\\n\\n\\u23f3 Quelques instants...', parse_mode: 'Markdown', reply_markup: { remove_keyboard: true } }) }}",
        "options": {}
      },
      "id": "baff78b4-ba3f-4baa-bfb3-32c83a31ba80",
      "name": "SendProcessingMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        1500
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nfunction get(url, headers = {}) {\n  return httpRequest(url, { headers, timeout: 600000 });\n}\n\n// === RETRY WITH EXPONENTIAL BACKOFF ===\n// Retries on network errors, timeouts, HTTP 429/5xx\nasync function withRetry(fn, maxRetries, baseDelay) {\n  maxRetries = maxRetries || 3;\n  baseDelay = baseDelay || 2000;\n  var lastErr;\n  for (var i = 0; i <= maxRetries; i++) {\n    try { return await fn(i); }\n    catch (e) {\n      lastErr = e;\n      if (i < maxRetries) await new Promise(function(r) { setTimeout(r, baseDelay * Math.pow(2, i)); });\n    }\n  }\n  throw lastErr;\n}\n\n// === REPLICATE PREDICTION WITH FULL RETRY ===\n// Creates prediction, polls until done, retries the whole cycle on failure\nasync function runPrediction(modelUrl, input, headers, opts) {\n  var maxRetries = (opts && opts.maxRetries !== undefined) ? opts.maxRetries : 2;\n  var pollInterval = (opts && opts.pollInterval) || 5000;\n  var maxPolls = (opts && opts.maxPolls) || 60;\n\n  for (var attempt = 0; attempt <= maxRetries; attempt++) {\n    var predId = null;\n    try {\n      var resp = await withRetry(function() {\n        return post(modelUrl, { input: input }, headers).then(function(r) {\n          if (!r.data || !r.data.id) {\n            if ([429, 500, 502, 503, 504].includes(r.status)) throw new Error('HTTP ' + r.status);\n            return r;\n          }\n          return r;\n        });\n      }, 2, 3000);\n      predId = resp.data && resp.data.id;\n      if (!predId) return null;\n    } catch (e) {\n      if (attempt < maxRetries) continue;\n      throw e;\n    }\n\n    // Poll with resilience to individual poll failures\n    var predData = null;\n    var pollErrors = 0;\n    for (var p = 0; p < maxPolls; p++) {\n      await new Promise(function(r) { setTimeout(r, pollInterval); });\n      try {\n        var pr = await get('https://api.replicate.com/v1/predictions/' + predId, headers);\n        predData = pr.data;\n        pollErrors = 0;\n        if (['succeeded', 'failed', 'canceled'].includes(predData.status)) break;\n      } catch (e) {\n        pollErrors++;\n        if (pollErrors >= 3) throw e; // 3 consecutive poll failures = abort\n      }\n    }\n\n    if (predData && predData.status === 'succeeded' && predData.output) {\n      return Array.isArray(predData.output) ? predData.output[0] : predData.output;\n    }\n\n    // Prediction failed/canceled — retry if attempts remain\n    if (attempt < maxRetries) continue;\n  }\n  return null;\n}\n\nconst data = $input.first().json;\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst replicateToken = process.env.REPLICATE_API_TOKEN || 'REPLICATE_TOKEN_REDACTED';\nconst repHeaders = { 'Authorization': `Bearer ${replicateToken}` };\nconst chatId = data.chatId;\n\nconst CLEAN_PROMPT = 'Edit this exact photo, keep camera angle, perspective, and structure 100% identical: Remove ALL movable furniture, beds, sofas, tables, chairs, boxes, clothes, clutter, and decorations. Keep ONLY the bare room structure: walls, floor texture and material unchanged, ceiling, windows, doors, radiators, electrical outlets, light switches, ceiling lights, built-in closets, and all fixed architectural elements. The room must appear completely empty but structurally identical. Photorealistic, exact room proportions, exact floor material, no distortion, camera locked.';\n\nconst cleanedUrls = [];\n\nfor (var idx = 0; idx < data.photoUrls.length; idx++) {\n  const photo = data.photoUrls[idx];\n\n  try {\n    const cleanUrl = await runPrediction(\n      'https://api.replicate.com/v1/models/black-forest-labs/flux-kontext-pro/predictions',\n      {\n        prompt: CLEAN_PROMPT,\n        input_image: photo.url,\n        aspect_ratio: 'match_input_image',\n        output_format: 'jpg',\n        safety_tolerance: 2\n      },\n      repHeaders,\n      { maxRetries: 2, pollInterval: 5000, maxPolls: 60 }\n    );\n\n    if (cleanUrl) {\n      cleanedUrls.push({ ...photo, url: cleanUrl, originalUrl: photo.url });\n      continue;\n    }\n  } catch (e) { /* final fallback to original */ }\n\n  // Fallback: keep original + notify user\n  cleanedUrls.push(photo);\n  if (botToken && chatId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: `\\u26a0\\ufe0f Nettoyage photo ${idx + 1}/${data.photoUrls.length} \\u00e9chou\\u00e9 apr\\u00e8s 3 tentatives \\u2014 utilisation de l'original.`\n      });\n    } catch (_) {}\n  }\n}\n\nreturn [{ json: { ...data, photoUrls: cleanedUrls } }];\n"
      },
      "id": "2791f5d8-fbc0-45ea-9940-8635432ac40c",
      "name": "CleanPhotos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nconst data = $input.first().json;\nconst photoUrls = data.photoUrls;\nconst style = data.style;\nconst propertyType = data.propertyType || 'apartment';\n\nconst content = [\n  { type: 'text', text: `Analyse ces ${photoUrls.length} photos de pi\\u00e8ces pour un virtual staging. Style : ${style}. Type de bien : ${propertyType}.` }\n];\nfor (const p of photoUrls) {\n  content.push({ type: 'text', text: `Photo ${p.index} :` });\n  content.push({ type: 'image_url', image_url: { url: p.url } });\n}\n\nconst resp = await post('https://api.openai.com/v1/chat/completions', {\n  model: 'gpt-4o',\n  temperature: 0.3,\n  max_tokens: 4000,\n  messages: [\n    {\n      role: 'system',\n      content: 'Tu es un expert en analyse immobili\\u00e8re. Pour CHAQUE photo, analyse la pi\\u00e8ce.\\n\\nR\\u00e9ponds en JSON valide :\\n{\\n  \"propertyType\": \"apartment\"|\"house\"|\"commercial\",\\n  \"rooms\": [\\n    {\\n      \"photoIndex\": 1,\\n      \"roomType\": \"living_room\"|\"bedroom\"|\"kitchen\"|\"bathroom\"|\"dining_room\"|\"office\"|\"studio\"|\"hallway\"|\"balcony\",\\n      \"roomLabel\": \"Salon principal\",\\n      \"dimensions\": { \"estimatedArea\": \"25m\\u00b2\", \"ceilingHeight\": \"2.5m\", \"shape\": \"rectangular\" },\\n      \"existingMaterials\": { \"flooring\": \"parquet\", \"walls\": \"white painted\", \"ceiling\": \"flat white\" },\\n      \"lighting\": { \"naturalLight\": \"good\", \"windowCount\": 2, \"lightDirection\": \"south\" },\\n      \"cameraAngle\": { \"perspective\": \"corner wide\", \"height\": \"eye level\", \"orientation\": \"landscape\" },\\n      \"stagingPriority\": \"high\"|\"medium\"|\"low\",\\n      \"notes\": \"specific observations\"\\n    }\\n  ],\\n  \"overallNotes\": \"general observations\"\\n}\\n\\nphotoIndex must match image order (1-based). One room per photo. Reply ONLY valid JSON, no markdown fences.'\n    },\n    { role: 'user', content: content }\n  ]\n}, { 'Authorization': `Bearer ${process.env.OPENAI_API_KEY || 'OPENAI_KEY_REDACTED'}` });\n\nif (!resp.data.choices || !resp.data.choices[0]) {\n  throw new Error('GPT-4o Vision failed: ' + JSON.stringify(resp.data).substring(0, 500));\n}\n\nreturn [{ json: { ...data, visionAnalysis: resp.data.choices[0].message.content } }];"
      },
      "id": "a92a57dc-b94f-4439-97cd-1f28b3d4fc80",
      "name": "BatchVisionAnalysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst data = $input.first().json;\nconst visionRaw = data.visionAnalysis;\nconst chatId = data.chatId;\nconst propertyType = data.propertyType || staticData[`prop_${chatId}`] || 'apartment';\nconst propertyInfo = data.propertyInfo || staticData[`propertyInfo_${chatId}`] || null;\n\n// Parse vision analysis\nlet cleaned = visionRaw.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nconst analysis = JSON.parse(cleaned);\n\n// Create session\nconst sessionKey = `session_${chatId}`;\nconst photoUrls = data.photoUrls;\n\nstaticData[sessionKey] = {\n  phase: 'selecting',\n  createdAt: Date.now(),\n  updatedAt: Date.now(),\n  style: data.style,\n  styleLabel: data.styleLabel,\n  propertyType,\n  propertyInfo,\n  currentRoomIndex: 0,\n  totalRooms: analysis.rooms.length,\n  rooms: analysis.rooms.map((room, i) => ({\n    index: i,\n    roomType: room.roomType,\n    roomLabel: room.roomLabel,\n    photoUrl: photoUrls[i] ? photoUrls[i].url : photoUrls[0].url,\n    beforePhotoUrl: photoUrls[i] ? (photoUrls[i].originalUrl || photoUrls[i].url) : photoUrls[0].url,\n    visionData: room,\n    options: [],\n    galleryMessageId: null,\n    selectedUrl: null,\n    regenerationCount: 0\n  }))\n};\n\n// Clean up accumulated photo/style/album/autoStart keys\nconst photoPrefix = `photo_${chatId}_`;\nObject.keys(staticData).filter(k => k.startsWith(photoPrefix)).forEach(k => delete staticData[k]);\nconst mgPrefix = `mg_${chatId}_`;\nObject.keys(staticData).filter(k => k.startsWith(mgPrefix)).forEach(k => delete staticData[k]);\ndelete staticData[`style_${chatId}`];\ndelete staticData[`prop_${chatId}`];\ndelete staticData[`autoStart_${chatId}`];\ndelete staticData[`propertyInfo_${chatId}`];\ndelete staticData[`awaiting_info_${chatId}`];\n\nreturn [{ json: { chatId, session: staticData[sessionKey] } }];\n"
      },
      "id": "021011b7-f8eb-483d-8162-56e6f96704d2",
      "name": "InitializeSession",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nfunction get(url, headers = {}) {\n  return httpRequest(url, { headers, timeout: 600000 });\n}\n\nfunction downloadBinary(url) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const opts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: 'GET'\n    };\n    const req = lib.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', chunk => chunks.push(chunk));\n      res.on('end', () => resolve(Buffer.concat(chunks)));\n    });\n    req.on('error', reject);\n    req.setTimeout(120000, () => { req.destroy(); reject(new Error('download timeout')); });\n    req.end();\n  });\n}\n\nfunction multipartUpload(botToken, chatId, videoBuffer, caption) {\n  return new Promise((resolve, reject) => {\n    const boundary = '----VimimoForm' + Date.now();\n    const fields = [\n      { name: 'chat_id', value: String(chatId) },\n      { name: 'caption', value: caption },\n      { name: 'parse_mode', value: 'Markdown' }\n    ];\n    let preFile = '';\n    for (const f of fields) {\n      preFile += '--' + boundary + '\\r\\n';\n      preFile += 'Content-Disposition: form-data; name=\"' + f.name + '\"\\r\\n\\r\\n';\n      preFile += f.value + '\\r\\n';\n    }\n    preFile += '--' + boundary + '\\r\\n';\n    preFile += 'Content-Disposition: form-data; name=\"video\"; filename=\"vimimo.mp4\"\\r\\n';\n    preFile += 'Content-Type: video/mp4\\r\\n\\r\\n';\n    const postFile = '\\r\\n--' + boundary + '--\\r\\n';\n    const preBuffer = Buffer.from(preFile, 'utf-8');\n    const postBuffer = Buffer.from(postFile, 'utf-8');\n    const body = Buffer.concat([preBuffer, videoBuffer, postBuffer]);\n    const options = {\n      hostname: 'api.telegram.org',\n      path: '/bot' + botToken + '/sendVideo',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'multipart/form-data; boundary=' + boundary,\n        'Content-Length': body.length\n      }\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(data)); }\n        catch { resolve({ ok: false, description: data }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(120000, () => { req.destroy(); reject(new Error('upload timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nasync function pollPrediction(predId, headers) {\n  let predData;\n  for (let attempt = 0; attempt < 120; attempt++) {\n    await new Promise(r => setTimeout(r, 10000));\n    const resp = await get(`https://api.replicate.com/v1/predictions/${predId}`, headers);\n    predData = resp.data;\n    if (['succeeded', 'failed', 'canceled'].includes(predData.status)) return predData;\n  }\n  return predData;\n}\n\n// === RETRY WITH EXPONENTIAL BACKOFF ===\nasync function withRetry(fn, maxRetries, baseDelay) {\n  maxRetries = maxRetries || 3;\n  baseDelay = baseDelay || 2000;\n  var lastErr;\n  for (var i = 0; i <= maxRetries; i++) {\n    try { return await fn(i); }\n    catch (e) {\n      lastErr = e;\n      if (i < maxRetries) await new Promise(function(r) { setTimeout(r, baseDelay * Math.pow(2, i)); });\n    }\n  }\n  throw lastErr;\n}\n\n// === REPLICATE PREDICTION WITH FULL RETRY ===\nasync function runPrediction(modelUrl, input, headers, opts) {\n  var maxRetries = (opts && opts.maxRetries !== undefined) ? opts.maxRetries : 2;\n  var pollInterval = (opts && opts.pollInterval) || 5000;\n  var maxPolls = (opts && opts.maxPolls) || 60;\n\n  for (var attempt = 0; attempt <= maxRetries; attempt++) {\n    var predId = null;\n    try {\n      var resp = await withRetry(function() {\n        return post(modelUrl, { input: input }, headers).then(function(r) {\n          if (!r.data || !r.data.id) {\n            if ([429, 500, 502, 503, 504].includes(r.status)) throw new Error('HTTP ' + r.status);\n            return r;\n          }\n          return r;\n        });\n      }, 2, 3000);\n      predId = resp.data && resp.data.id;\n      if (!predId) return null;\n    } catch (e) {\n      if (attempt < maxRetries) continue;\n      throw e;\n    }\n\n    var predData = null;\n    var pollErrors = 0;\n    for (var p = 0; p < maxPolls; p++) {\n      await new Promise(function(r) { setTimeout(r, pollInterval); });\n      try {\n        var pr = await get('https://api.replicate.com/v1/predictions/' + predId, headers);\n        predData = pr.data;\n        pollErrors = 0;\n        if (['succeeded', 'failed', 'canceled'].includes(predData.status)) break;\n      } catch (e) {\n        pollErrors++;\n        if (pollErrors >= 3) throw e;\n      }\n    }\n\n    if (predData && predData.status === 'succeeded' && predData.output) {\n      return Array.isArray(predData.output) ? predData.output[0] : predData.output;\n    }\n    if (attempt < maxRetries) continue;\n  }\n  return null;\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst data = $input.first().json;\nconst chatId = data.chatId;\nconst sessionKey = `session_${chatId}`;\nconst session = staticData[sessionKey];\n\nif (!session) throw new Error('No session found for chatId ' + chatId);\n\nconst roomIdx = session.currentRoomIndex;\nconst room = session.rooms[roomIdx];\n\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst openaiKey = process.env.OPENAI_API_KEY || 'OPENAI_KEY_REDACTED';\nconst replicateToken = process.env.REPLICATE_API_TOKEN || 'REPLICATE_TOKEN_REDACTED';\nconst repHeaders = { 'Authorization': `Bearer ${replicateToken}` };\n\n// === ALL ROOMS: 5 options + keyboard (user selects, then HandleCallbackQuery launches video) ===\n\n// 1. Send original photo\nawait post(`https://api.telegram.org/bot${botToken}/sendPhoto`, {\n  chat_id: Number(chatId),\n  photo: room.photoUrl,\n  caption: `📷 Pièce ${roomIdx + 1}/${session.totalRooms} : *${room.roomLabel}*\\n\\n⏳ Génération de 5 options de staging...`,\n  parse_mode: 'Markdown'\n});\n\n// 2. GPT-4o VISION: analyze photo + generate 5 EDITING prompts\nconst promptResp = await post('https://api.openai.com/v1/chat/completions', {\n  model: 'gpt-4o', temperature: 0.5, max_tokens: 2000,\n  messages: [\n    { role: 'system', content: 'You are an expert at writing image EDITING prompts for Flux Kontext Pro.\\n\\nYou will receive a PHOTO of an empty room. Analyze it carefully: the exact wall colors, floor material, window positions, door locations, ceiling type, lighting conditions, and camera perspective.\\n\\nThen write 5 EDITING prompts that ONLY add furniture/decor to this exact photo.\\n\\nCRITICAL ANTI-DISTORTION RULES:\\n1. CAMERA LOCK: NEVER describe the room itself (walls, floor, windows, ceiling). Flux Kontext Pro already sees the photo — describing structure CAUSES DISTORTION and warping.\\n2. STRUCTURE FREEZE: Walls, floor, ceiling, windows, doors must remain PIXEL-PERFECT. Never push, move, resize, or modify any structural element.\\n3. PROPORTIONS: Room dimensions, window sizes, door heights must keep IDENTICAL ratios. Furniture must be proportional to the room.\\n4. Start every prompt with: \"Edit this exact photo, keep camera angle, perspective, and room structure 100% identical. Add [specific furniture] to this room.\"\\n5. End every prompt with: \"Keep all walls, floor, windows, doors, ceiling unchanged. Photorealistic, exact room proportions, no distortion, camera locked.\"\\n6. Reference spatial positions from the photo (e.g., \"along the back wall\", \"in front of the window\").\\n7. Only mention furniture, rugs, artwork, plants, lamps, decorative objects. NO structural changes.\\n8. Keep each prompt SHORT (2 sentences MAX between the start/end). Longer prompts = more distortion.\\n9. Generate exactly 5 prompts with DIFFERENT approaches:\\n   - Prompt 1: MAIN FURNITURE (sofa, bed, table, chairs)\\n   - Prompt 2: DIFFERENT MAIN FURNITURE layout\\n   - Prompt 3: DECORATION focus (art, plants, cushions, rugs, curtains)\\n   - Prompt 4: COMPLETE but MINIMAL setup\\n   - Prompt 5: LUXURIOUS/FULL setup\\n   All 5 must keep the SAME design style but vary in density and focus.\\n\\nRespond in JSON: { \"analysis\": \"Brief 1-line description of what you see\", \"prompts\": [\"prompt1\", \"prompt2\", \"prompt3\", \"prompt4\", \"prompt5\"] }\\nNo markdown, ONLY valid JSON.' },\n    { role: 'user', content: [\n      { type: 'text', text: `Room: ${room.roomType} (${room.roomLabel}). Style to apply: ${session.style} (${session.styleLabel}).\\n\\nSTRUCTURAL INVENTORY (from prior analysis — DO NOT modify these):\\n${JSON.stringify(room.visionData, null, 2)}\\n\\nGenerate 5 editing prompts for this photo. Use the structural inventory to place furniture logically (avoid blocking windows/doors, respect room dimensions).` },\n      { type: 'image_url', image_url: { url: room.photoUrl } }\n    ] }\n  ]\n}, { 'Authorization': `Bearer ${openaiKey}` });\n\nlet promptsRaw = promptResp.data.choices[0].message.content.trim();\nif (promptsRaw.startsWith('```')) {\n  promptsRaw = promptsRaw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\nconst promptsData = JSON.parse(promptsRaw);\nconst prompts = promptsData.prompts;\n// Log analysis for debugging\nif (promptsData.analysis) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `🔍 Analyse : ${promptsData.analysis}`\n  });\n}\n\n// 3. Generate 5 Flux options with retry (1 retry per option on failure)\nconst options = [];\nfor (let i = 0; i < 5; i++) {\n  try {\n    const url = await runPrediction(\n      'https://api.replicate.com/v1/models/black-forest-labs/flux-kontext-pro/predictions',\n      {\n        prompt: prompts[i] + ' Photorealistic, exact room proportions, no distortion, camera locked.',\n        input_image: room.photoUrl,\n        aspect_ratio: 'match_input_image',\n        output_format: 'jpg',\n        safety_tolerance: 2,\n        seed: Math.floor(Math.random() * 999999)\n      },\n      repHeaders,\n      { maxRetries: 1, pollInterval: 5000, maxPolls: 60 }\n    );\n    if (url) options.push(url);\n  } catch (e) { /* skip this option */ }\n  if (i < 4) await new Promise(r => setTimeout(r, 2000));\n}\n\nif (options.length === 0) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `⚠️ Échec de la génération pour ${room.roomLabel}. Relancez /go.`\n  });\n  delete staticData[sessionKey];\n  return [];\n}\n\n// 5. Store options in session\nroom.options = options;\nsession.updatedAt = Date.now();\n\n// 6. Send option photos individually\nfor (let i = 0; i < options.length; i++) {\n  await post(`https://api.telegram.org/bot${botToken}/sendPhoto`, {\n    chat_id: Number(chatId),\n    photo: options[i],\n    caption: `Option ${i + 1}/${options.length}`\n  });\n  await new Promise(r => setTimeout(r, 500));\n}\n\n// 7. Send inline keyboard\nconst keyboard = {\n  inline_keyboard: [\n    options.map((_, i) => ({ text: `${i + 1}`, callback_data: `sel_${chatId}_${roomIdx}_${i + 1}` })),\n    [{ text: '🔄 Nouvelles options', callback_data: `sel_${chatId}_${roomIdx}_regen` }]\n  ]\n};\n\nconst kbResp = await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n  chat_id: Number(chatId),\n  text: `🎨 *Pièce ${roomIdx + 1}/${session.totalRooms} : ${room.roomLabel}*\\n\\nChoisissez votre staging préféré :`,\n  parse_mode: 'Markdown',\n  reply_markup: keyboard\n});\n\nif (kbResp.data && kbResp.data.ok && kbResp.data.result) {\n  room.galleryMessageId = kbResp.data.result.message_id;\n}\n\nreturn [{ json: { ok: true, chatId, roomIndex: roomIdx } }];\n"
      },
      "id": "a1facdbd-edba-4e31-9da4-b46e570e0834",
      "name": "GenerateRoomOptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2150,
        1300
      ]
    },
    {
      "parameters": {
        "jsCode": "// AutoStartCheck — Auto-trigger pipeline when album + style are both ready\n// Triggered from SaveStyleChoice. If album photos exist + style set → start pipeline without /go.\nconst staticData = $getWorkflowStaticData('global');\nconst data = $input.first().json;\nconst chatId = data.chatId;\nconst fifteenMin = 15 * 60 * 1000;\n\n// Only auto-trigger if an album was sent (not for individual photos)\n// AccumulatePhoto stores album markers as mg_{chatId}_{mediaGroupId}\nconst mgPrefix = `mg_${chatId}_`;\nconst hasAlbum = Object.keys(staticData).some(k => k.startsWith(mgPrefix));\nif (!hasAlbum) return [];\n\n// Check style is set\nconst styleKey = `style_${chatId}`;\nconst styleData = staticData[styleKey];\nif (!styleData || !styleData.style) return [];\n\n// Check photos exist\nconst photoPrefix = `photo_${chatId}_`;\nconst photoKeys = Object.keys(staticData).filter(k => k.startsWith(photoPrefix));\nconst photos = photoKeys.map(k => staticData[k]).sort((a, b) => a.timestamp - b.timestamp);\nif (photos.length === 0) return [];\n\n// Check no active session (prevent double-trigger with /go)\n// Also clean stale sessions (>15min) that would otherwise block forever\nconst sessionKey = `session_${chatId}`;\nif (staticData[sessionKey]) {\n  const sessionAge = Date.now() - (staticData[sessionKey].updatedAt || staticData[sessionKey].createdAt || 0);\n  if (sessionAge < fifteenMin) return []; // Recent session — don't interfere\n  // Stale session — clean it up and proceed\n  delete staticData[sessionKey];\n}\n\n// Prevent multiple auto-triggers (with 15min timeout for recovery after failure)\nconst autoKey = `autoStart_${chatId}`;\nif (staticData[autoKey] && (Date.now() - staticData[autoKey]) < fifteenMin) return [];\nstaticData[autoKey] = Date.now();\n\n// NOTE: Do NOT set preliminary session here — if pipeline fails, it would block\n// both auto-start and /go for 15 minutes. The pipeline creates its own session\n// in InitializeSession. Concurrent /go is low risk and handled gracefully.\n\nreturn [{ json: {\n  chatId,\n  photos,\n  style: styleData.style,\n  styleLabel: styleData.label || 'Moderne',\n  totalPhotos: photos.length,\n  propertyType: staticData[`prop_${chatId}`] || 'apartment',\n  propertyInfo: staticData[`propertyInfo_${chatId}`] || null,\n  fromAlbum: true\n}}];\n"
      },
      "id": "786fd66d-12d5-4dc8-94bb-b557581b3355",
      "name": "AutoStartCheck",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nfunction get(url, headers = {}) {\n  return httpRequest(url, { headers, timeout: 600000 });\n}\n\nfunction downloadBinary(url) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const opts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: 'GET'\n    };\n    const req = lib.request(opts, (res) => {\n      const chunks = [];\n      res.on('data', chunk => chunks.push(chunk));\n      res.on('end', () => resolve(Buffer.concat(chunks)));\n    });\n    req.on('error', reject);\n    req.setTimeout(120000, () => { req.destroy(); reject(new Error('download timeout')); });\n    req.end();\n  });\n}\n\nfunction multipartUpload(botToken, chatId, videoBuffer, caption) {\n  return new Promise((resolve, reject) => {\n    const boundary = '----VimimoForm' + Date.now();\n    const fields = [\n      { name: 'chat_id', value: String(chatId) },\n      { name: 'caption', value: caption },\n      { name: 'parse_mode', value: 'Markdown' }\n    ];\n    let preFile = '';\n    for (const f of fields) {\n      preFile += '--' + boundary + '\\r\\n';\n      preFile += 'Content-Disposition: form-data; name=\"' + f.name + '\"\\r\\n\\r\\n';\n      preFile += f.value + '\\r\\n';\n    }\n    preFile += '--' + boundary + '\\r\\n';\n    preFile += 'Content-Disposition: form-data; name=\"video\"; filename=\"vimimo.mp4\"\\r\\n';\n    preFile += 'Content-Type: video/mp4\\r\\n\\r\\n';\n    const postFile = '\\r\\n--' + boundary + '--\\r\\n';\n    const preBuffer = Buffer.from(preFile, 'utf-8');\n    const postBuffer = Buffer.from(postFile, 'utf-8');\n    const body = Buffer.concat([preBuffer, videoBuffer, postBuffer]);\n    const options = {\n      hostname: 'api.telegram.org',\n      path: '/bot' + botToken + '/sendVideo',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'multipart/form-data; boundary=' + boundary,\n        'Content-Length': body.length\n      }\n    };\n    const req = https.request(options, (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(data)); }\n        catch { resolve({ ok: false, description: data }); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(120000, () => { req.destroy(); reject(new Error('upload timeout')); });\n    req.write(body);\n    req.end();\n  });\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst cbq = $input.first().json.callback_query;\nconst callbackId = cbq.id;\nconst chatId = String(cbq.message.chat.id);\nconst cbData = cbq.data;\n\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst openaiKey = process.env.OPENAI_API_KEY || 'OPENAI_KEY_REDACTED';\nconst replicateToken = process.env.REPLICATE_API_TOKEN || 'REPLICATE_TOKEN_REDACTED';\nconst repHeaders = { 'Authorization': `Bearer ${replicateToken}` };\n\n// Answer callback query immediately (Telegram requirement)\nawait post(`https://api.telegram.org/bot${botToken}/answerCallbackQuery`, {\n  callback_query_id: callbackId\n});\n\n// === PROPERTY TYPE SELECTION: user clicked prop_apartment/house/commercial ===\nif (cbData.startsWith('prop_')) {\n  const propType = cbData.replace('prop_', '');\n  staticData[`prop_${chatId}`] = propType;\n\n  const propLabels = { apartment: '\\ud83c\\udfe2 Appartement', house: '\\ud83c\\udfe1 Maison', commercial: '\\ud83c\\udfea Commercial' };\n  const propLabel = propLabels[propType] || propType;\n\n  const messageId = cbq.message && cbq.message.message_id;\n  if (messageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(chatId),\n        message_id: messageId,\n        text: `\\u2705 Type : ${propLabel}\\n\\n\\ud83c\\udfa8 Choisissez votre style :\\n\\n\\ud83d\\uddbc\\ufe0f Scandinave\\nBois clair, lignes \\u00e9pur\\u00e9es, tons neutres\\n\\n\\ud83e\\uddf1 Industriel\\nM\\u00e9tal brut, briques, mobilier vintage\\n\\n\\u2728 Moderne\\nDesign \\u00e9pur\\u00e9, touches de couleur vibrantes\\n\\n\\ud83c\\udfdb\\ufe0f Classique\\n\\u00c9l\\u00e9gance intemporelle, moulures, dorures\\n\\n\\ud83c\\udf3f Boh\\u00e8me\\nTextures naturelles, plantes, atmosph\\u00e8re zen`,\n        reply_markup: { inline_keyboard: [\n          [{ text: '\\ud83d\\uddbc\\ufe0f Scandinave', callback_data: `style_${chatId}_scandinavian` }, { text: '\\ud83e\\uddf1 Industriel', callback_data: `style_${chatId}_industrial` }],\n          [{ text: '\\u2728 Moderne', callback_data: `style_${chatId}_modern_minimalist` }, { text: '\\ud83c\\udfdb\\ufe0f Classique', callback_data: `style_${chatId}_classic_french` }],\n          [{ text: '\\ud83c\\udf3f Boh\\u00e8me', callback_data: `style_${chatId}_bohemian` }]\n        ] }\n      });\n    } catch (e) { /* ignore edit errors */ }\n  }\n\n  return [];\n}\n\n// === STYLE SELECTION VIA INLINE KEYBOARD ===\nif (cbData.startsWith('style_')) {\n  const styleParts = cbData.split('_');\n  const styleChatId = styleParts[1];\n  // styleId can contain underscores (e.g., modern_minimalist, classic_french)\n  const styleId = styleParts.slice(2).join('_');\n\n  const styleLabels = {\n    scandinavian: 'Scandinave',\n    industrial: 'Industriel',\n    modern_minimalist: 'Moderne',\n    classic_french: 'Classique',\n    bohemian: 'Boh\\u00e8me'\n  };\n  const styleLabel = styleLabels[styleId] || styleId;\n\n  staticData[`style_${styleChatId}`] = { style: styleId, label: styleLabel };\n\n  const messageId = cbq.message && cbq.message.message_id;\n  if (messageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(styleChatId),\n        message_id: messageId,\n        text: `\\u2705 Style *${styleLabel}* s\\u00e9lectionn\\u00e9 !`,\n        parse_mode: 'Markdown'\n      });\n    } catch (e) { /* ignore */ }\n  }\n\n  // Ask for optional property info (price, city, neighborhood)\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(styleChatId),\n    text: '\\ud83c\\udfe0 *Voulez-vous personnaliser la vid\\u00e9o finale ?*\\n\\nAjoutez le prix, la ville et le quartier pour un rendu professionnel.',\n    parse_mode: 'Markdown',\n    reply_markup: { inline_keyboard: [[\n      { text: '\\u270d\\ufe0f Oui, ajouter les infos', callback_data: 'ask_property_info' },\n      { text: '\\u27a1\\ufe0f Passer', callback_data: 'skip_property_info' }\n    ]] }\n  });\n\n  return [];\n}\n\n// === PROPERTY INFO: user wants to add price/city/neighborhood ===\nif (cbData === 'ask_property_info') {\n  staticData[`awaiting_info_${chatId}`] = true;\n\n  const messageId = cbq.message && cbq.message.message_id;\n  if (messageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(chatId),\n        message_id: messageId,\n        text: '\\u270d\\ufe0f *Tapez les informations du bien :*\\n\\nExemple : `350 000\\u20ac, Lyon, Croix-Rousse`\\n\\n_(Prix, Ville, Quartier \\u2014 s\\u00e9par\\u00e9s par des virgules)_',\n        parse_mode: 'Markdown'\n      });\n    } catch (e) { /* ignore */ }\n  }\n\n  return [];\n}\n\n// === PROPERTY INFO: user skipped → continue pipeline ===\nif (cbData === 'skip_property_info') {\n  const messageId = cbq.message && cbq.message.message_id;\n  if (messageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(chatId),\n        message_id: messageId,\n        text: '\\u27a1\\ufe0f Informations ignor\\u00e9es.'\n      });\n    } catch (e) { /* ignore */ }\n  }\n\n  // Auto-start check (album + style + photos + no session)\n  const mgPrefix = `mg_${chatId}_`;\n  const hasAlbum = Object.keys(staticData).some(k => k.startsWith(mgPrefix));\n\n  if (hasAlbum) {\n    const photoPrefix = `photo_${chatId}_`;\n    const photoKeys = Object.keys(staticData).filter(k => k.startsWith(photoPrefix));\n    const photos = photoKeys.map(k => staticData[k]).sort((a, b) => a.timestamp - b.timestamp);\n\n    const sessKey = `session_${chatId}`;\n    const styleData = staticData[`style_${chatId}`];\n\n    if (photos.length > 0 && !staticData[sessKey] && styleData) {\n      const propKey = `prop_${chatId}`;\n      const propertyType = staticData[propKey] || 'apartment';\n\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: `\\ud83d\\ude80 *Lancement automatique du staging ${styleData.label}...*`,\n        parse_mode: 'Markdown'\n      });\n\n      return [{ json: {\n        chatId,\n        photos,\n        style: styleData.style,\n        styleLabel: styleData.label,\n        propertyType,\n        propertyInfo: staticData[`propertyInfo_${chatId}`] || null,\n        totalPhotos: photos.length,\n        fromAlbum: true\n      } }];\n    }\n  }\n\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\ud83d\\udcf7 Envoyez vos photos puis tapez /go pour lancer le staging.'\n  });\n\n  return [];\n}\n\n// === ALBUM GO BUTTON: user clicked \"Lancer le staging\" ===\nif (cbData === 'album_go') {\n  const styleKey = `style_${chatId}`;\n  const styleData = staticData[styleKey];\n\n  // Check style is set\n  if (!styleData || !styleData.style) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: '\\u26a0\\ufe0f Choisissez d\\u0027abord un style avant de lancer !\\n\\n\\ud83c\\udfa8 Utilisez le clavier ci-dessous.'\n    });\n    return [];\n  }\n\n  // Gather photos\n  const photoPrefix = `photo_${chatId}_`;\n  const photoKeys = Object.keys(staticData).filter(k => k.startsWith(photoPrefix));\n  const photos = photoKeys.map(k => staticData[k]).sort((a, b) => a.timestamp - b.timestamp);\n\n  if (photos.length === 0) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: '\\u26a0\\ufe0f Aucune photo en m\\u00e9moire. Renvoyez vos photos.'\n    });\n    return [];\n  }\n\n  // Check no active session\n  const sessKey = `session_${chatId}`;\n  if (staticData[sessKey] && staticData[sessKey].phase === 'selecting') {\n    const age = Date.now() - (staticData[sessKey].updatedAt || 0);\n    if (age < 15 * 60 * 1000) {\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: '\\u26a0\\ufe0f Staging d\\u00e9j\\u00e0 en cours ! Terminez vos s\\u00e9lections.'\n      });\n      return [];\n    }\n    delete staticData[sessKey];\n  }\n\n  // Edit button message to show confirmation\n  const messageId = cbq.message && cbq.message.message_id;\n  if (messageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(chatId),\n        message_id: messageId,\n        text: `\\u2705 *Album valid\\u00e9 !* (${photos.length} photos)\\n\\n\\ud83d\\ude80 Lancement de l'analyse IA...`,\n        parse_mode: 'Markdown'\n      });\n    } catch (e) { /* ignore edit errors */ }\n  }\n\n  // Return data for DownloadAllPhotos (same format as StartProcessing)\n  const propKey = `prop_${chatId}`;\n  const propertyType = staticData[propKey] || 'apartment';\n\n  return [{ json: {\n    chatId,\n    photos,\n    style: styleData.style,\n    styleLabel: styleData.label || 'Moderne',\n    totalPhotos: photos.length,\n    propertyType,\n    propertyInfo: staticData[`propertyInfo_${chatId}`] || null,\n    fromAlbumButton: true\n  } }];\n}\n\n// Parse callback data: sel_{chatId}_{roomIndex}_{choice}\nconst parts = cbData.split('_');\nif (parts[0] !== 'sel' || parts.length !== 4) {\n  return [];\n}\n\nconst sessionChatId = parts[1];\nconst roomIdx = parseInt(parts[2]);\nconst choice = parts[3]; // \"1\"-\"5\" or \"regen\"\n\nconst sessionKey = `session_${sessionChatId}`;\nconst session = staticData[sessionKey];\n\nif (!session) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '⚠️ Session expirée. Envoyez de nouvelles photos + /go pour relancer.'\n  });\n  return [];\n}\n\nconst room = session.rooms[roomIdx];\n\n// === Helper: generate 5 staging options for a room ===\nasync function generateRoomOptions(roomData, rIdx) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `⏳ Génération de 5 options pour *${roomData.roomLabel}*...`,\n    parse_mode: 'Markdown'\n  });\n\n  // GPT-4o VISION: analyze photo + generate 5 EDITING prompts\n  const promptResp = await post('https://api.openai.com/v1/chat/completions', {\n    model: 'gpt-4o', temperature: 0.5, max_tokens: 2000,\n    messages: [\n      { role: 'system', content: 'You are an expert at writing image EDITING prompts for Flux Kontext Pro.\\n\\nYou will receive a PHOTO of an empty room. Analyze it carefully: the exact wall colors, floor material, window positions, door locations, ceiling type, lighting conditions, and camera perspective.\\n\\nThen write 5 EDITING prompts that ONLY add furniture/decor to this exact photo.\\n\\nCRITICAL ANTI-DISTORTION RULES:\\n1. CAMERA LOCK: NEVER describe the room itself (walls, floor, windows, ceiling). Flux Kontext Pro already sees the photo — describing structure CAUSES DISTORTION and warping.\\n2. STRUCTURE FREEZE: Walls, floor, ceiling, windows, doors must remain PIXEL-PERFECT. Never push, move, resize, or modify any structural element.\\n3. PROPORTIONS: Room dimensions, window sizes, door heights must keep IDENTICAL ratios. Furniture must be proportional to the room.\\n4. Start every prompt with: \"Edit this exact photo, keep camera angle, perspective, and room structure 100% identical. Add [specific furniture] to this room.\"\\n5. End every prompt with: \"Keep all walls, floor, windows, doors, ceiling unchanged. Photorealistic, exact room proportions, no distortion, camera locked.\"\\n6. Reference spatial positions from the photo (e.g., \"along the back wall\", \"in front of the window\").\\n7. Only mention furniture, rugs, artwork, plants, lamps, decorative objects. NO structural changes.\\n8. Keep each prompt SHORT (2 sentences MAX between the start/end). Longer prompts = more distortion.\\n9. Generate exactly 5 prompts with DIFFERENT approaches:\\n   - Prompt 1: MAIN FURNITURE (sofa, bed, table, chairs)\\n   - Prompt 2: DIFFERENT MAIN FURNITURE layout\\n   - Prompt 3: DECORATION focus (art, plants, cushions, rugs, curtains)\\n   - Prompt 4: COMPLETE but MINIMAL setup\\n   - Prompt 5: LUXURIOUS/FULL setup\\n   All 5 must keep the SAME design style but vary in density and focus.\\n\\nRespond in JSON: { \"analysis\": \"Brief 1-line description of what you see\", \"prompts\": [\"prompt1\", \"prompt2\", \"prompt3\", \"prompt4\", \"prompt5\"] }\\nNo markdown, ONLY valid JSON.' },\n      { role: 'user', content: [\n        { type: 'text', text: `Room: ${roomData.roomType} (${roomData.roomLabel}). Style to apply: ${session.style} (${session.styleLabel}).\\n\\nSTRUCTURAL INVENTORY (from prior analysis — DO NOT modify these):\\n${JSON.stringify(roomData.visionData, null, 2)}\\n\\nGenerate 5 editing prompts for this photo. Use the structural inventory to place furniture logically (avoid blocking windows/doors, respect room dimensions).` },\n        { type: 'image_url', image_url: { url: roomData.photoUrl } }\n      ] }\n    ]\n  }, { 'Authorization': `Bearer ${openaiKey}` });\n\n  let promptsRaw = promptResp.data.choices[0].message.content.trim();\n  if (promptsRaw.startsWith('```')) {\n    promptsRaw = promptsRaw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  const promptsData = JSON.parse(promptsRaw);\n  const prompts = promptsData.prompts;\n  if (promptsData.analysis) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: `🔍 Analyse : ${promptsData.analysis}`\n    });\n  }\n\n  // Generate 5 Flux options with retry (1 retry per option on failure)\n  const options = [];\n  for (let i = 0; i < 5; i++) {\n    try {\n      const url = await runPrediction(\n        'https://api.replicate.com/v1/models/black-forest-labs/flux-kontext-pro/predictions',\n        {\n          prompt: prompts[i] + ' Photorealistic, exact room proportions, no distortion, camera locked.',\n          input_image: roomData.photoUrl,\n          aspect_ratio: 'match_input_image',\n          output_format: 'jpg',\n          safety_tolerance: 2,\n          seed: Math.floor(Math.random() * 999999)\n        },\n        repHeaders,\n        { maxRetries: 1, pollInterval: 5000, maxPolls: 60 }\n      );\n      if (url) options.push(url);\n    } catch (e) { /* skip this option */ }\n    if (i < 4) await new Promise(r => setTimeout(r, 2000));\n  }\n\n  if (options.length === 0) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: `⚠️ Échec de la génération pour ${roomData.roomLabel}. Réessayez.`\n    });\n    return false;\n  }\n\n  // Store options\n  roomData.options = options;\n\n  // Send photos\n  for (let i = 0; i < options.length; i++) {\n    await post(`https://api.telegram.org/bot${botToken}/sendPhoto`, {\n      chat_id: Number(chatId),\n      photo: options[i],\n      caption: `Option ${i + 1}/${options.length}`\n    });\n    await new Promise(r => setTimeout(r, 500));\n  }\n\n  // Send inline keyboard\n  const keyboard = {\n    inline_keyboard: [\n      options.map((_, i) => ({ text: `${i + 1}`, callback_data: `sel_${chatId}_${rIdx}_${i + 1}` })),\n      [{ text: '🔄 Nouvelles options', callback_data: `sel_${chatId}_${rIdx}_regen` }]\n    ]\n  };\n\n  const kbResp = await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `🎨 *Pièce ${rIdx + 1}/${session.totalRooms} : ${roomData.roomLabel}*\\n\\nChoisissez votre staging préféré :`,\n    parse_mode: 'Markdown',\n    reply_markup: keyboard\n  });\n\n  if (kbResp.data && kbResp.data.ok && kbResp.data.result) {\n    roomData.galleryMessageId = kbResp.data.result.message_id;\n  }\n\n  session.updatedAt = Date.now();\n  return true;\n}\n\n// === Helper: poll Replicate prediction ===\nasync function pollPrediction(predId) {\n  let predData;\n  for (let attempt = 0; attempt < 120; attempt++) {\n    await new Promise(r => setTimeout(r, 10000));\n    const resp = await get(`https://api.replicate.com/v1/predictions/${predId}`, repHeaders);\n    predData = resp.data;\n    if (['succeeded', 'failed', 'canceled'].includes(predData.status)) return predData;\n  }\n  return predData;\n}\n\n// === RETRY WITH EXPONENTIAL BACKOFF ===\nasync function withRetry(fn, maxRetries, baseDelay) {\n  maxRetries = maxRetries || 3;\n  baseDelay = baseDelay || 2000;\n  var lastErr;\n  for (var i = 0; i <= maxRetries; i++) {\n    try { return await fn(i); }\n    catch (e) {\n      lastErr = e;\n      if (i < maxRetries) await new Promise(function(r) { setTimeout(r, baseDelay * Math.pow(2, i)); });\n    }\n  }\n  throw lastErr;\n}\n\n// === REPLICATE PREDICTION WITH FULL RETRY ===\nasync function runPrediction(modelUrl, input, headers, opts) {\n  var maxRetries = (opts && opts.maxRetries !== undefined) ? opts.maxRetries : 2;\n  var pollInterval = (opts && opts.pollInterval) || 5000;\n  var maxPolls = (opts && opts.maxPolls) || 60;\n\n  for (var attempt = 0; attempt <= maxRetries; attempt++) {\n    var predId = null;\n    try {\n      var resp = await withRetry(function() {\n        return post(modelUrl, { input: input }, headers).then(function(r) {\n          if (!r.data || !r.data.id) {\n            if ([429, 500, 502, 503, 504].includes(r.status)) throw new Error('HTTP ' + r.status);\n            return r;\n          }\n          return r;\n        });\n      }, 2, 3000);\n      predId = resp.data && resp.data.id;\n      if (!predId) return null;\n    } catch (e) {\n      if (attempt < maxRetries) continue;\n      throw e;\n    }\n\n    var predData = null;\n    var pollErrors = 0;\n    for (var p = 0; p < maxPolls; p++) {\n      await new Promise(function(r) { setTimeout(r, pollInterval); });\n      try {\n        var pr = await get('https://api.replicate.com/v1/predictions/' + predId, headers);\n        predData = pr.data;\n        pollErrors = 0;\n        if (['succeeded', 'failed', 'canceled'].includes(predData.status)) break;\n      } catch (e) {\n        pollErrors++;\n        if (pollErrors >= 3) throw e;\n      }\n    }\n\n    if (predData && predData.status === 'succeeded' && predData.output) {\n      return Array.isArray(predData.output) ? predData.output[0] : predData.output;\n    }\n    if (attempt < maxRetries) continue;\n  }\n  return null;\n}\n\n// ==========================================================\n// MAIN LOGIC\n// ==========================================================\n\nif (choice === 'regen') {\n  // === REGENERATION ===\n  if (room.regenerationCount >= 3) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: '⚠️ Maximum 3 régénérations par pièce atteint.\\nVeuillez choisir parmi les options proposées.'\n    });\n    return [];\n  }\n\n  room.regenerationCount++;\n  await generateRoomOptions(room, roomIdx);\n  return [];\n\n} else {\n  // === SELECTION (choice = \"1\"-\"5\") ===\n  const choiceIdx = parseInt(choice) - 1;\n  if (choiceIdx < 0 || choiceIdx >= room.options.length) {\n    return [];\n  }\n\n  room.selectedUrl = room.options[choiceIdx];\n  session.updatedAt = Date.now();\n\n  // Edit keyboard message to show confirmation\n  if (room.galleryMessageId) {\n    try {\n      await post(`https://api.telegram.org/bot${botToken}/editMessageText`, {\n        chat_id: Number(chatId),\n        message_id: room.galleryMessageId,\n        text: `✅ *${room.roomLabel}* — Option ${choice} sélectionnée !`,\n        parse_mode: 'Markdown'\n      });\n    } catch (e) { /* ignore edit errors */ }\n  }\n\n  // Check if all rooms have been selected\n  const allSelected = session.rooms.every(r => r.selectedUrl !== null);\n\n  if (!allSelected) {\n    // === NEXT ROOM ===\n    const nextIdx = roomIdx + 1;\n    session.currentRoomIndex = nextIdx;\n    const nextRoom = session.rooms[nextIdx];\n\n    // Send original photo of next room\n    await post(`https://api.telegram.org/bot${botToken}/sendPhoto`, {\n      chat_id: Number(chatId),\n      photo: nextRoom.photoUrl,\n      caption: `📷 Pièce ${nextIdx + 1}/${session.totalRooms} : *${nextRoom.roomLabel}*`,\n      parse_mode: 'Markdown'\n    });\n\n    await generateRoomOptions(nextRoom, nextIdx);\n    return [];\n\n  } else {\n    // ============================================================\n    // ALL ROOMS SELECTED — LAUNCH VIDEO PIPELINE\n    // ============================================================\n    session.phase = 'videos';\n\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: `🎥 *Génération des vidéos individuelles en cours...*\\n\\nVidéo 1/${session.totalRooms} — ${session.rooms[0].roomLabel} ⏳`,\n      parse_mode: 'Markdown'\n    });\n\n    // Send gallery of staged photos\n    const media = session.rooms.map((r, i) => ({\n      type: 'photo',\n      media: r.selectedUrl,\n      caption: i === 0 ? `🎨 Virtual Staging ${session.styleLabel} — ${session.totalRooms} pièces` : r.roomLabel\n    }));\n    const chunks = [];\n    for (let i = 0; i < media.length; i += 10) chunks.push(media.slice(i, i + 10));\n    for (const chunk of chunks) {\n      try {\n        await post(`https://api.telegram.org/bot${botToken}/sendMediaGroup`, { chat_id: Number(chatId), media: chunk });\n      } catch (e) { /* ignore gallery errors */ }\n    }\n\n    // === Kling v2.1 Pro + individual video upload for each room ===\n    const videoResults = [];\n    for (let i = 0; i < session.rooms.length; i++) {\n      const r = session.rooms[i];\n\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: `🎬 Vidéo ${i + 1}/${session.totalRooms} — *${r.roomLabel}* ⏳`,\n        parse_mode: 'Markdown'\n      });\n\n      let videoUrl = '';\n      try {\n        videoUrl = await runPrediction(\n          'https://api.replicate.com/v1/models/kwaivgi/kling-v2.1/predictions',\n          {\n            prompt: `Morph from original empty room to furnished room. KEEP EXACT same room structure, walls, floor, windows, camera angle, perspective, and proportions throughout the entire video. Subtle dolly zoom only, no perspective change. ${session.style} ${r.roomType || room.roomType}, photorealistic professional real estate video, smooth furniture appearance, steady camera, natural lighting.`,\n            start_image: r.photoUrl,\n            end_image: r.selectedUrl,\n            mode: 'pro',\n            duration: 5,\n            negative_prompt: 'blurry, distorted, low quality, warped walls, warped windows, changed proportions, furniture movement, structural changes, perspective shift, room deformation'\n          },\n          repHeaders,\n          { maxRetries: 1, pollInterval: 10000, maxPolls: 120 }\n        ) || '';\n      } catch (e) { videoUrl = ''; }\n\n      // === Send individual video to Telegram ===\n      if (videoUrl) {\n        try {\n          const vidBuffer = await downloadBinary(videoUrl);\n          const uploadResp = await multipartUpload(botToken, chatId, vidBuffer,\n            `🎬 *Vidéo ${i + 1}/${session.totalRooms} — ${r.roomLabel}*\\n\\nAvant → Après`\n          );\n          if (uploadResp.ok) {\n            await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n              chat_id: Number(chatId),\n              text: `✅ *Vidéo ${i + 1}/${session.totalRooms} — ${r.roomLabel}* envoyée !`,\n              parse_mode: 'Markdown'\n            });\n          }\n        } catch (e) {\n          // Fallback: send video URL directly\n          await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n            chat_id: Number(chatId),\n            text: `🎬 Vidéo ${r.roomLabel}: ${videoUrl}`\n          });\n        }\n      } else {\n        await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n          chat_id: Number(chatId),\n          text: `⚠️ Vidéo ${i + 1}/${session.totalRooms} — ${r.roomLabel} : échec, image statique utilisée.`\n        });\n      }\n\n      if (!videoUrl) videoUrl = r.selectedUrl; // fallback to static image\n\n      videoResults.push({\n        beforePhotoUrl: r.beforePhotoUrl || r.photoUrl,\n        originalPhotoUrl: r.photoUrl,\n        stagedPhotoUrl: r.selectedUrl,\n        videoUrl,\n        roomType: r.roomType,\n        roomLabel: r.roomLabel\n      });\n\n      if (i < session.rooms.length - 1) await new Promise(resolve => setTimeout(resolve, 2000));\n    }\n\n    // === Remotion render: VIDÉO FINALE MONTÉE ===\n    session.phase = 'rendering';\n\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: `✨ *Toutes les vidéos individuelles envoyées !*\\n\\nCompilation de la vidéo finale montée en cours... ⏳`,\n      parse_mode: 'Markdown'\n    });\n\n    const durationPerRoom = 7;  // 1s orig + 1s swipe + 4s Kling + 1s fixe\n    const totalDuration = Math.min(180, 5 + session.totalRooms * durationPerRoom + 5);\n\n    // === Build property title/address/price from user-provided info ===\n    let propTitle = 'Visite Virtuelle';\n    let propAddress = undefined;\n    let propPrice = undefined;\n\n    if (session.propertyInfo) {\n      const infoParts = session.propertyInfo.split(',').map(function(s) { return s.trim(); }).filter(Boolean);\n      var pricePart = '', cityPart = '', neighborhoodPart = '';\n      for (var pi = 0; pi < infoParts.length; pi++) {\n        var part = infoParts[pi];\n        if (/\\d/.test(part) && (/[\\u20ac$\\u00a3]/.test(part) || /\\d{3}/.test(part.replace(/\\s/g, '')))) {\n          pricePart = part;\n        } else if (!cityPart) {\n          cityPart = part;\n        } else {\n          neighborhoodPart = part;\n        }\n      }\n      var propLabelsMap = { apartment: 'Appartement', house: 'Maison', commercial: 'Local commercial' };\n      var propLabel = propLabelsMap[session.propertyType] || 'Bien';\n      propTitle = cityPart ? (propLabel + ' \\u00e0 ' + cityPart) : (propLabel + ' \\u2014 Visite Virtuelle');\n      var addrParts = [];\n      if (neighborhoodPart) addrParts.push(neighborhoodPart);\n      if (pricePart) addrParts.push(pricePart);\n      propAddress = addrParts.length > 0 ? addrParts.join(' \\u2022 ') : undefined;\n      propPrice = pricePart || undefined;\n    }\n\n    const remotionPayload = {\n      compositionId: 'PropertyShowcase',\n      inputProps: {\n        property: { title: propTitle, address: propAddress, price: propPrice, style: session.style },\n        totalDuration,\n        transitionType: 'swipe',\n        rooms: videoResults.map(r => ({\n          beforePhotoUrl: r.beforePhotoUrl,\n          originalPhotoUrl: r.originalPhotoUrl,\n          stagedPhotoUrl: r.stagedPhotoUrl,\n          videoUrl: r.videoUrl,\n          roomType: r.roomType,\n          roomLabel: r.roomLabel\n        }))\n      }\n    };\n\n    const renderResp = await post('http://172.18.0.1:8000/renders', remotionPayload);\n    const renderId = renderResp.data.id;\n\n    // Poll render status (server uses 'done'/'error')\n    let renderStatus = 'rendering';\n    let renderData;\n    while (renderStatus !== 'done' && renderStatus !== 'error') {\n      await new Promise(r => setTimeout(r, 15000));\n      const pollResp = await get(`http://172.18.0.1:8000/renders/${renderId}`);\n      renderData = pollResp.data;\n      renderStatus = renderData.status || 'rendering';\n    }\n\n    if (renderStatus === 'error') {\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: '⚠️ Erreur lors de la compilation vidéo finale. Les vidéos individuelles ont été envoyées.'\n      });\n      delete staticData[sessionKey];\n      return [{ json: { error: 'render failed', videoCount: videoResults.length } }];\n    }\n\n    // Download via /renders/:id/download endpoint and upload to Telegram\n    const internalVideoUrl = `http://172.18.0.1:8000/renders/${renderId}/download`;\n    const videoBuffer = await downloadBinary(internalVideoUrl);\n\n    if (videoBuffer.length < 1000) {\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: '⚠️ Erreur: vidéo finale trop petite. Les vidéos individuelles ont été envoyées.'\n      });\n      delete staticData[sessionKey];\n      return [{ json: { error: 'video too small' } }];\n    }\n\n    const finalCaption = `🎉 *VIDÉO FINALE MONTÉE* (~${totalDuration}s)\\n\\n✅ ${session.totalRooms} pièces traitées en ${session.styleLabel}\\n\\n🔄 Envoyez de nouvelles photos pour un autre rendu !\\n💬 Tapez /styles pour changer de style.`;\n    const uploadResult = await multipartUpload(botToken, chatId, videoBuffer, finalCaption);\n\n    if (!uploadResult.ok) {\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: '⚠️ Erreur lors de l\\'envoi de la vidéo finale.'\n      });\n    }\n\n    // Clean up session\n    delete staticData[sessionKey];\n\n    return [{ json: { ok: true, action: 'complete', renderId, totalDuration, videoCount: session.totalRooms } }];\n  }\n}\n"
      },
      "id": "d7dce1a0-875e-434e-9587-b17ac01535d2",
      "name": "HandleCallbackQuery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "// HandleCustomPrompt — Retouche Magique\n// Free text during selecting phase → custom Flux Kontext Pro option\nconst https = require('https');\nconst http = require('http');\nconst { URL } = require('url');\nconst process = require('process');\n\nfunction httpRequest(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const lib = u.protocol === 'https:' ? https : http;\n    const reqOpts = {\n      hostname: u.hostname,\n      port: u.port || (u.protocol === 'https:' ? 443 : 80),\n      path: u.pathname + u.search,\n      method: options.method || 'GET',\n      headers: options.headers || {}\n    };\n    const req = lib.request(reqOpts, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve({ status: res.statusCode, data: JSON.parse(body) }); }\n        catch { resolve({ status: res.statusCode, data: body }); }\n      });\n    });\n    req.on('error', reject);\n    if (options.timeout) req.setTimeout(options.timeout, () => { req.destroy(); reject(new Error('timeout')); });\n    if (options.body) req.write(typeof options.body === 'string' ? options.body : JSON.stringify(options.body));\n    req.end();\n  });\n}\n\nfunction post(url, data, headers = {}) {\n  return httpRequest(url, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', ...headers },\n    body: data,\n    timeout: 600000\n  });\n}\n\nfunction get(url, headers = {}) {\n  return httpRequest(url, { headers, timeout: 600000 });\n}\n\nasync function withRetry(fn, maxRetries, baseDelay) {\n  maxRetries = maxRetries || 3;\n  baseDelay = baseDelay || 2000;\n  var lastErr;\n  for (var i = 0; i <= maxRetries; i++) {\n    try { return await fn(i); }\n    catch (e) {\n      lastErr = e;\n      if (i < maxRetries) await new Promise(function(r) { setTimeout(r, baseDelay * Math.pow(2, i)); });\n    }\n  }\n  throw lastErr;\n}\n\nasync function runPrediction(modelUrl, input, headers, opts) {\n  var maxRetries = (opts && opts.maxRetries !== undefined) ? opts.maxRetries : 2;\n  var pollInterval = (opts && opts.pollInterval) || 5000;\n  var maxPolls = (opts && opts.maxPolls) || 60;\n\n  for (var attempt = 0; attempt <= maxRetries; attempt++) {\n    var predId = null;\n    try {\n      var resp = await withRetry(function() {\n        return post(modelUrl, { input: input }, headers).then(function(r) {\n          if (!r.data || !r.data.id) {\n            if ([429, 500, 502, 503, 504].includes(r.status)) throw new Error('HTTP ' + r.status);\n            return r;\n          }\n          return r;\n        });\n      }, 2, 3000);\n      predId = resp.data && resp.data.id;\n      if (!predId) return null;\n    } catch (e) {\n      if (attempt < maxRetries) continue;\n      throw e;\n    }\n\n    var predData = null;\n    var pollErrors = 0;\n    for (var p = 0; p < maxPolls; p++) {\n      await new Promise(function(r) { setTimeout(r, pollInterval); });\n      try {\n        var pr = await get('https://api.replicate.com/v1/predictions/' + predId, headers);\n        predData = pr.data;\n        pollErrors = 0;\n        if (['succeeded', 'failed', 'canceled'].includes(predData.status)) break;\n      } catch (e) {\n        pollErrors++;\n        if (pollErrors >= 3) throw e;\n      }\n    }\n\n    if (predData && predData.status === 'succeeded' && predData.output) {\n      return Array.isArray(predData.output) ? predData.output[0] : predData.output;\n    }\n    if (attempt < maxRetries) continue;\n  }\n  return null;\n}\n\n// ==========================================================\n// MAIN LOGIC\n// ==========================================================\n\nconst staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.message;\nconst chatId = String(msg.chat.id);\nconst text = (msg.text || '').trim();\n\nconst botToken = process.env.TELEGRAM_BOT_TOKEN || '8120972729:AAFlDrC7dfgnTAqAjlc4pUsadqxjhc5IYOU';\nconst replicateToken = process.env.REPLICATE_API_TOKEN || 'REPLICATE_TOKEN_REDACTED';\nconst repHeaders = { 'Authorization': `Bearer ${replicateToken}` };\n\n// === PROPERTY INFO CAPTURE: user is typing price/city/neighborhood ===\nconst awaitingKey = `awaiting_info_${chatId}`;\nif (staticData[awaitingKey]) {\n  delete staticData[awaitingKey];\n  staticData[`propertyInfo_${chatId}`] = text;\n\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `\\u2705 *Informations enregistr\\u00e9es :*\\n\\n\\ud83d\\udccd ${text}`,\n    parse_mode: 'Markdown'\n  });\n\n  // Auto-start check: if album + style + photos + no session → launch pipeline\n  const mgPrefix = `mg_${chatId}_`;\n  const hasAlbum = Object.keys(staticData).some(k => k.startsWith(mgPrefix));\n\n  if (hasAlbum) {\n    const photoPrefix = `photo_${chatId}_`;\n    const photoKeys = Object.keys(staticData).filter(k => k.startsWith(photoPrefix));\n    const photos = photoKeys.map(k => staticData[k]).sort((a, b) => a.timestamp - b.timestamp);\n    const styleData = staticData[`style_${chatId}`];\n    const sessKey = `session_${chatId}`;\n\n    if (photos.length > 0 && !staticData[sessKey] && styleData) {\n      const propKey = `prop_${chatId}`;\n      const propertyType = staticData[propKey] || 'apartment';\n\n      await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n        chat_id: Number(chatId),\n        text: `\\ud83d\\ude80 *Lancement automatique du staging ${styleData.label}...*`,\n        parse_mode: 'Markdown'\n      });\n\n      return [{ json: {\n        chatId,\n        photos,\n        style: styleData.style,\n        styleLabel: styleData.label,\n        propertyType,\n        propertyInfo: text,\n        totalPhotos: photos.length,\n        fromAlbum: true\n      } }];\n    }\n  }\n\n  // No auto-start — prompt for photos\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\ud83d\\udcf7 Envoyez vos photos puis tapez /go pour lancer le staging.'\n  });\n\n  return [];\n}\n\n// Check for active session in selecting phase\nconst sessionKey = `session_${chatId}`;\nconst session = staticData[sessionKey];\n\nif (!session || session.phase !== 'selecting') {\n  // No active session — send default help message\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\ud83d\\udc4b Je n\\'ai pas compris votre message.\\n\\nVoici ce que je peux faire :\\n\\ud83d\\udcf8 Envoyez-moi *plusieurs photos* de pi\\u00e8ces vides.\\n\\ud83c\\udfa8 Choisissez un style de d\\u00e9coration.\\n/go \\u2014 Lancer le staging\\n/start \\u2014 Relancer l\\'assistant\\n/styles \\u2014 Voir les styles disponibles\\n/aide \\u2014 Conseils pour photographier',\n    parse_mode: 'Markdown'\n  });\n  return [];\n}\n\n// Active session in selecting phase — Retouche Magique\nconst room = session.rooms[session.currentRoomIndex];\n\nif (!room || room.options.length === 0) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\u23f3 Les options ne sont pas encore g\\u00e9n\\u00e9r\\u00e9es. Patientez...'\n  });\n  return [];\n}\n\nif (room.options.length >= 8) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\u26a0\\ufe0f Maximum 8 options par pi\\u00e8ce atteint.\\nChoisissez parmi les options existantes.'\n  });\n  return [];\n}\n\n// Build Flux prompt: session style + user text + anti-distortion\nconst prompt = `Edit this exact photo, keep camera angle, perspective, and room structure 100% identical. ${text}. Style: ${session.styleLabel}. Keep all walls, floor, windows, doors, ceiling unchanged. Photorealistic, exact room proportions, no distortion, camera locked.`;\n\nawait post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n  chat_id: Number(chatId),\n  text: `\\u2728 *Retouche Magique en cours...*\\n\\n\"${text}\"`,\n  parse_mode: 'Markdown'\n});\n\ntry {\n  const url = await runPrediction(\n    'https://api.replicate.com/v1/models/black-forest-labs/flux-kontext-pro/predictions',\n    {\n      prompt,\n      input_image: room.photoUrl,\n      aspect_ratio: 'match_input_image',\n      output_format: 'jpg',\n      safety_tolerance: 2,\n      seed: Math.floor(Math.random() * 999999)\n    },\n    repHeaders,\n    { maxRetries: 1, pollInterval: 5000, maxPolls: 60 }\n  );\n\n  if (!url) {\n    await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n      chat_id: Number(chatId),\n      text: '\\u26a0\\ufe0f \\u00c9chec de la retouche. Essayez une autre description.'\n    });\n    return [];\n  }\n\n  // Add to room options\n  room.options.push(url);\n  const optionNum = room.options.length;\n  session.updatedAt = Date.now();\n\n  // Send the new photo\n  await post(`https://api.telegram.org/bot${botToken}/sendPhoto`, {\n    chat_id: Number(chatId),\n    photo: url,\n    caption: `\\u2728 Retouche Custom \\u2014 Option ${optionNum}/${room.options.length}`\n  });\n\n  // Send updated keyboard with ALL options\n  const rIdx = session.currentRoomIndex;\n  const keyboard = {\n    inline_keyboard: [\n      room.options.map((_, i) => ({ text: `${i + 1}`, callback_data: `sel_${chatId}_${rIdx}_${i + 1}` })),\n      [{ text: '\\ud83d\\udd04 Nouvelles options', callback_data: `sel_${chatId}_${rIdx}_regen` }]\n    ]\n  };\n\n  const kbResp = await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: `\\ud83c\\udfa8 *Pi\\u00e8ce ${rIdx + 1}/${session.totalRooms} : ${room.roomLabel}*\\n\\nChoisissez votre staging pr\\u00e9f\\u00e9r\\u00e9 :\\n\\n\\ud83d\\udcac _Envoyez un texte pour une retouche personnalis\\u00e9e._`,\n    parse_mode: 'Markdown',\n    reply_markup: keyboard\n  });\n\n  if (kbResp.data && kbResp.data.ok && kbResp.data.result) {\n    room.galleryMessageId = kbResp.data.result.message_id;\n  }\n\n} catch (e) {\n  await post(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    chat_id: Number(chatId),\n    text: '\\u26a0\\ufe0f Erreur lors de la retouche. R\\u00e9essayez.'\n  });\n}\n\nreturn [];\n"
      },
      "id": "88bd103d-510f-455c-baa2-f6322429b150",
      "name": "HandleCustomPrompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        1800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Je n'ai pas compris votre message.\n\nVoici ce que je peux faire :\n📸 Envoyez-moi *plusieurs photos* de pièces vides.\n🎨 Choisissez un style de décoration.\n/go — Lancer le staging\n/start — Relancer l'assistant\n/styles — Voir les styles disponibles\n/aide — Conseils pour photographier",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "05b2ad0a-468a-4c5e-a5d4-7eeb6f9bed70",
      "name": "SendDefault",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        650,
        2100
      ],
      "credentials": {
        "telegramApi": {
          "id": "r3or1rCFrz8TM9ri",
          "name": "VIMIMO Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "TelegramBot": {
      "main": [
        [
          {
            "node": "CommandRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CommandRouter": {
      "main": [
        [
          {
            "node": "HandleCallbackQuery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendWelcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendStylesCatalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendExamples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendTips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "StartProcessing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AccumulatePhoto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SaveStyleChoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HandleCustomPrompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendDefault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveStyleChoice": {
      "main": [
        [
          {
            "node": "SendStyleConfirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "AutoStartCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AutoStartCheck": {
      "main": [
        [
          {
            "node": "DownloadAllPhotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendProcessingMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StartProcessing": {
      "main": [
        [
          {
            "node": "DownloadAllPhotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendProcessingMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAllPhotos": {
      "main": [
        [
          {
            "node": "CleanPhotos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CleanPhotos": {
      "main": [
        [
          {
            "node": "BatchVisionAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchVisionAnalysis": {
      "main": [
        [
          {
            "node": "InitializeSession",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InitializeSession": {
      "main": [
        [
          {
            "node": "GenerateRoomOptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HandleCallbackQuery": {
      "main": [
        [
          {
            "node": "DownloadAllPhotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendProcessingMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HandleCustomPrompt": {
      "main": [
        [
          {
            "node": "DownloadAllPhotos",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendProcessingMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {}
  }
}